[2015-11-13 16:17] ryandesign opened #1 "axel 2.5 does not remember the value of LDFLAGS at configure time"
axel 2.5 remembers and uses the value of CFLAGS that the user set at configure time, but not the value of LDFLAGS.

This is sufficient to fix it:

[code]

The Makefile is already written to use the LDFLAGS variable.

[2016-03-18 08:04] sijad opened #2 "Add socks5 support"
This is wonderful to see updated Axel, currently when I wan use socks5 as proxy for example I get this error:

[code]

I'm not a very good programmer but I'd love to spend time on this, let me know if you think this is a good idea

[2016-03-18 08:16] sijad opened #3 "Add SSL support"
I'm working with Axel for years now, but sometimes I think Axel doesn't support `HTTPS`,
please current me if I'm wrong, but Axel fails to donwload over SSL sometimes
after take a quick look at source code I couldn't find any related code to it

[2016-03-18 13:24] eribertomota commented on #2
Hi sijad,

Feel free to help Axel. Initialy, send me a patch and I will add you to the project, if you want it.

Regards,

Eriberto

[2016-03-18 14:07] sijad commented on #2
should I work on [broken v3](https://github.com/eribertomota/axel/tree/3.x-broken)?

[2016-03-18 14:32] sijad opened #4 "Organization and Cleanup"
* [x] Move `.h` `.c` files to `src` folder
* [x] Move `.po` files to `i18n` folder
* [x] Rename `README.to-contribute` to `CONTRIBUTING.md`, [why?](https://github.com/blog/1184-contributing-guidelines)
* [ ] Rename `COPYING` to `LICENSE`
* [ ] remove `ROADMAP` and use Github's [Milestones](https://github.com/eribertomota/axel/milestones) instead
* [ ] remove all text files (API, UPDATE-CHECK, ...)

[2016-03-18 14:38] sijad opened #5 "Add unit testing"

[2016-03-18 14:55] sijad commented on #2
as v3 is 80 commit behind I think continuing v2 is better right now

[2016-03-18 16:31] eribertomota commented on #5
Please, provide a comment about this isse.

[2016-03-18 16:33] eribertomota commented on #4
Some itens already being done in autotools branch.

[2016-03-18 16:54] sijad commented on #4
sorry I didn't see that, which branch should I work on?

[2016-03-18 17:00] eribertomota commented on #4
I suggest you clone the repository and send a patch or fork the repository and create a branch.

I will try finish the autotools in this weekend.

[2016-03-19 22:53] eribertomota commented on #1
Hi,

I changed the build system to autotools and I18N is default now. So, this issue is solved. d7ac55b

Thanks!

Eriberto

[2016-03-19 22:53] #1 closed

[2016-03-19 22:59] eribertomota opened #7 "Axel dies saying 'Too many redirects'"
An example:

$ axel https://github.com/eribertomota/axel/archive/master.zip
Initializing download: https://github.com/eribertomota/axel/archive/master.zip
Too many redirects.

Is there someone able to help me with this issue?

Thanks in advance.

Regards,

Eriberto

[2016-03-19 23:13] eribertomota commented on #2
Today, I am doing several commits. Please, take advantage of this.

[2016-03-20 04:31] sijad commented on #7
I'm not sure, but I think it's related to #3
Axel tries to download from `http` but Github server forces clint to download from `https`

[2016-03-20 04:47] eribertomota commented on #7
Hum... This is a possibility...

I will try test it soon.

2016-03-20 1:31 GMT-03:00 Sajjad Hashemian <notifications@github.com>:

[2016-03-20 15:12] pan-long commented on #3
I have looked at the source code, axel only supports http and ftp for now. It checks the protocol by prefix, anything starts with 'f' it will use ftp, anything starts with 'h' it will just go for http. So, yea, just add in another protocol and it should work.

[2016-03-20 15:49] eribertomota commented on #3
Thanks Pan,

Do you are able to do it and integrate the development team?

Regards,

Eriberto

2016-03-20 12:12 GMT-03:00 Pan Long <notifications@github.com>:

[2016-03-20 16:33] sijad commented on #3
* Can Axel run by library like `curl` to download? and axel manage multi connection download?
* download and search for ftp protocol isn't outdated? does any body still use that?
I'm just asking

[2016-03-20 16:49] sijad opened #8 "File name from Content-Disposition header"
It'd be great if axel could download and save file with the name that server sends it
currently files saved by a name guessed from `URL`

[2016-03-20 18:06] eribertomota commented on #7
Hi Sajjad,

You are right. This site[1] forces https. So, I tryed to download the index via axel ($ axel https://archive.org/details/testmp3testfile). I started a tcpdump session and I saw that axel always forces http (port 80). So, the site try to redirect to https. So, axel forces the http again. And the site forces a redirection again. It is a loop that ends in a 'Too many redirects' message.

[2016-03-20 21:29] sijad opened #9 "Issue with compile in OS X El Capitan 10.11.3"
tried `make` after `./configure` command and got this:

[code]

installed `gettext` via [homebrew](http://brew.sh/):

[code]

any idea?

[2016-03-20 23:06] sdt commented on #9
Something's broken in the autotools stuff.

If I configure like so: `./configure --with-libintl-prefix=/usr/local/opt/gettext`

I see this near the end of the configure run:
`checking how to link with libintl... -L/usr/local/opt/gettext/lib -lintl -Wl,-framework -Wl,CoreFoundation`

Compiles seem to get the correct flags: `gcc -DHAVE_CONFIG_H -I. -I..  -DLOCALEDIR=\""/usr/local/share/locale"\" -I/

[2016-03-21 00:12] eribertomota commented on #9
I think it is a local issue.

To test axel, I uploaded to experimental in Debian yesterday and axel was
built in all archs[1].

I will upload to unstable[2] in some minutes.

[1] https://buildd.debian.org/status/package.php?p=axel&suite=experimental
[2] https://buildd.debian.org/status/package.php?p=axel&suite=sid

Please, tell me about any test that compiles axel in your machine.

Regards,

Eribe

[2016-03-21 01:50] pan-long commented on #3
@eribertomota hi, yea, I should be able to implement this feature. @sijad I like your idea, but the only thing I worried about is can we do multi connection management over curl? As if curl doesn't provide intermediate access to the tcp packages and instead, it does some process and store it in it's own format, that could be troublesome for us. Of course, we need to do some investigation on this.

[2016-03-21 02:35] eribertomota commented on #3
Thanks Pan! Thank! I am glad for you help!

I added you as collaborator and you can push changes.

Cheers,

Eriberto

2016-03-20 22:50 GMT-03:00 Pan Long <notifications@github.com>:

[2016-03-21 13:48] eribertomota commented on #9
Please, do a test:

1. Edit configure.ac
2. Change from

LDFLAGS="$LDFLAGS -pthread"

to

LDFLAGS="$LDFLAGS -lintl -pthread"

3. Run $ autoreconf

4. Run $ configure, make etc.

I will wait a reply.

[2016-03-21 17:32] sijad commented on #9
@sdt @eribertomota adding `-lintl` and run `autoreconf ` fixed this
thanks

[2016-03-21 23:50] eribertomota commented on #9
Please, can you test the current commit in GitHub? Download here:

https://github.com/eribertomota/axel/archive/master.zip

Thanks a lot in advance!

[2016-03-22 00:00] sdt commented on #9
I can confirm `LDFLAGS="$LDFLAGS -lintl -pthread"` works for me

[2016-03-22 00:04] eribertomota commented on #9
Stephen, please, test the last commit...

[2016-03-22 00:17] sdt commented on #9
Current master works for me.

Additionally, I've got gettext installed via homebrew like @sijad, except I haven't force-linked it like he has.

I need to specify the include and library paths when running configure like this:

`CFLAGS=-I/usr/local/opt/gettext/include LDFLAGS=-L/usr/local/opt/gettext/lib ./configure`

The CFLAGS and LDFLAGS options now get passed through to the Makefile as expected

[2016-03-22 00:26] eribertomota commented on #9
Good, thanks! So this issue is solved.

I will wait for @sijad and close.

Cheers,

Eriberto

2016-03-21 21:17 GMT-03:00 Stephen Thirlwall <notifications@github.com>:

[2016-03-22 04:32] #9 closed

[2016-03-23 06:26] sdt commented on #4
There is a .gitignore included in PR #10

[2016-03-28 21:31] douglascamata commented on #9
@eribertomota @sijad I think instructions for OS X compilation should be included in the README as it is not pretty straightforward.

[2016-03-28 22:06] sdt commented on #9
This commit https://github.com/eribertomota/axel/pull/10/commits/655ccc60570d638d35964418bd07a75c147ddd44 in pr #10 adds some OS X build instructions.

@douglascamata could you try following those directions and see if it works for you?

[2016-03-28 22:39] eribertomota commented on #9
Hi Douglas,

Not needed. I already adjusted the autotools to install 'magically'.

Regards,

Eriberto

2016-03-28 18:31 GMT-03:00 Douglas Camata <notifications@github.com>:

[2016-03-28 23:39] douglascamata commented on #9
@eribertomota trying the direction in this issue I could build, but not automatically (at the time I commented). I'll try again with the instructions in that commit and report here.

[2016-03-28 23:42] douglascamata commented on #9
@eribertomota it worked, but I changed `./autogen.sh -I$GETTEXT/share/aclocal/` to `autoreconf -I$GETTEXT/share/aclocal/` (there was no `autogen.sh` in the axel folder neither in my path).

[2016-03-28 23:44] sdt commented on #9
Sorry - I forgot about that part. `autogen.sh` is added in that pull request. The source branch is here:

https://github.com/sdt/axel/tree/autotools-cleanup

[2016-03-28 23:48] eribertomota commented on #9
Yeap, you are right. I need to accept some changes sent to Axel. However, I
am very busy now. I think that I will work over these changes in 2 weeks.

2016-03-28 20:42 GMT-03:00 Douglas Camata <notifications@github.com>:

[2016-03-28 23:48] eribertomota commented on #9
Hi Stephen, I don't forgot your pull requests. Thanks!

2016-03-28 20:44 GMT-03:00 Stephen Thirlwall <notifications@github.com>:

[2016-03-28 23:51] sdt commented on #9
@eribertomota - on OS X, if you install gettext via homebrew using the recommended method (ie. *not* force linking), then `configure` needs to know where to find the gettext header and library files. These custom paths are specified on the configure command line using CFLAGS and LDFLAGS environment variables.

Your fix earlier means that when you specify those paths to configure, then they are hon

[2016-03-29 16:19] mridulmalpotra opened #11 "aclocal compilation errors for custom build locations"
I'm currently running Ubuntu 15.10 and was trying to build the project in a custom user directory, but it gives me the following error:

`$ ./configure --prefix=/home/mty/dev/.build/axel/ > /dev/null && make`

`CDPATH="${ZSH_VERSION+.}:" && cd . && /bin/bash /home/mty/dev/axel/missing aclocal-1.14`
`/home/mty/dev/axel/missing: line 81: aclocal-1.14: command not found`
`WARNING: 'aclocal-1.14' is m

[2016-03-29 22:02] sdt commented on #11
Pull request #10 fixes this sort of problem.

@mridulmalpotra, could you try checking out [this branch](https://github.com/sdt/axel/tree/autotools-cleanup), and then running `./autogen.sh` and your custom configure command ?

[2016-03-30 02:36] mridulmalpotra commented on #11
@sdt I can confirm that running `./autogen.sh` before the custom configure command from the `autotools-cleanup` branch helps axel to successfully run and compile.

[2016-03-31 02:45] sdt commented on #11
Fixed in 1ab96e7509014da6494ea1d66a21681281e417f4

[2016-03-31 02:45] #11 closed

[2016-03-31 02:50] sdt commented on #7
Closing this issue as it will be fixed by #3

[2016-03-31 02:50] #7 closed

[2016-04-01 10:01] sijad commented on #8
@sdt if you didn't start working on this, can you please let me to work on this?

[2016-04-01 10:30] sdt commented on #8
All yours @sijad! :+1:

[2016-04-05 22:26] eribertomota commented on #8
Go ahead!

[2016-05-01 02:35] eribertomota opened #15 "Axel needs a new license to implement SSL"
Considering the HTTPS and FTPS implementation[1] done by @sdt , Axel needs a special permission to linking with OpenSSL.

[1] https://github.com/eribertomota/axel/compare/master...sdt:https

So, I will use this issue to try formalise it.

[2016-05-03 00:16] eribertomota commented on #15
On April 30, 2016, I sent the following email message to Wilmer van der Gaast (original Axel author), Giridhar Appaji Nag (@appaji) and Philipp Hagemeister (@phihag), with a CC to Stephen Thirlwall (@sdt):

Date: Sat, 30 Apr 2016 23:58:46 -0300
From: Eriberto Mota <eriberto@debian.org>
To: [...]
Cc: [...]
Subject: Axel, we need link to OpenSSL
Mime-Version: 1.0
Content-Type: multipart/signed; prot

[2016-05-03 00:25] eribertomota commented on #15
On May 1, 2016, PhilippHagemeister (@phihag) replied as shown below.  Thanks Philipp!

Subject: Re: Axel, we need link to OpenSSL
To: eriberto@debian.org
From: Philipp Hagemeister
Date: Sun, 1 May 2016 08:28:01 +0200

I hereby put all my contributions to Axel under
* GPL-2+
* MIT
* GPL-2+ with OpenSSL exception

at your choice.

- Philipp Hagemeister

[2016-05-03 00:34] eribertomota commented on #15
On May 1, 2016, Wilmer van der Gaast replied as shown below. Thanks Wilmer!

From: Wilmer van der Gaast <wilmer@gaast.net>
To: eriberto@debian.org
Subject: Re: Axel, we need link to OpenSSL
Date: Sun, 1 May 2016 20:43:51 +0900

Oh wow, Axel is still alive? :-D

On 01-05-16 11:58, Eriberto Mota wrote:

ish

ith

Yes, I am familiar with this process. :-(

I have no objections. No clue how much of th

[2016-05-03 00:35] eribertomota commented on #15
Now, I will wait a reply from Giridhar Appaji Nag (@appaji) to change the license. :-)

[2016-05-03 04:57] appaji commented on #15
I am happy to re-license code under the following

Apache v2.0, GPL v2 or later, and GPL v2 or later with OpenSSL exception.

One of the philosophies of axel was to keep the dependencies on external
libraries to be zero so that it can be bundled into smaller systems.  While
you enable HTTPS functionality, I would like you to keep that compile-time
configurable.

Giridhar

--
Giridhar Yasa | Flipka

[2016-05-03 05:04] sdt commented on #15
:+1:

Thanks Giridhar. That's a good point - I'll make sure there's a `--without-openssl` config option.

[2016-05-03 13:09] eribertomota commented on #15
Thanks a lot Giridhar!

Regards,

Eriberto

2016-05-03 1:57 GMT-03:00 Giridhar Yasa <notifications@github.com>:

[2016-05-03 14:14] eribertomota commented on #15
@sdt Now, we can change to  'GPL-2+ with OpenSSL exception'.

After your changes, I will swap the licensing. But, don't worry; don't need to hurry to implement the new features.

@phihag and @appaji , you are welcome to help to revive Axel, if you wish. There are several bugs opened now in Debian, Ubuntu, Fedora, Arch Linux, Gentoo, etc[1]. And thanks for all previous work.

[1] https://github.com

[2016-05-28 20:27] denji commented on #4
Create organization https://github.com/axel-dl

 - Owned @appaji (Giridhar Yasa)
 - Owned @eribertomota (Joao Eriberto Mota Filho)
 - Owned @phihag (Philipp Hagemeister)

The reason for creation was to restore the code of the project: `unicode-progressbar`, `reactivation`, `no-clobber`, `cookies`, `content-disposition`, `https` back-ported code @emiraga https://github.com/axel-dl/axel-ideas/branch

[2016-05-28 20:31] eribertomota commented on #4
Hi,

Why you don't join to current project? Several changes and improvements
were made...

Eriberto

2016-05-28 17:27 GMT-03:00 Denis Denisov <notifications@github.com>:

[2016-05-29 01:55] denji commented on #15
SSL deprecated, maybe TLS?

[2016-05-29 14:03] eribertomota commented on #15
Hi,

It must be talked with @sdt. However, I think that openssl will be used in
the same way. For HTTP and FTP, as far as I know, the crypto has an uniq
implemntation form.

Regards,

Eriberto

2016-05-28 22:55 GMT-03:00 Denis Denisov <notifications@github.com>:

[2016-05-29 17:18] eribertomota commented on #4
Hi,

Thanks for all suggestions.

I intent to close this bug in 15 days if there are no objections.

My considerations:

1.  Rename COPYING to LICENSE

The program uses GPL-2+ license (migrating to GPL-2+ with OpenSSL exception). Is a common practice this file be named as COPYING.

2. Remove ROADMAP and use Github's Milestones instead; Remove all text files (API, UPDATE-CHECK, ...) and use Github'

[2016-05-30 00:17] eribertomota opened #18 "Known bugs and wishes that need help"
The intent of this bug is help the people that wants help to solve the known bugs in Axel. Please, choose a bug and send us a pull request. Thanks!
## From GitHub
#### Bugs:
- [x] Implement SSL #3. This is a bug because makes SSL downloads impossible to be done and generates a 'Too many redirects' message. (work being done by @sdt)
#### Wishes
- [ ] Add socks5 support enhancement #2
- [ ]  Add uni

[2016-05-30 22:54] eribertomota commented on #3
Done by @sdt .  e1ebab0

[2016-05-30 22:54] #3 closed

[2016-05-31 00:05] eribertomota commented on #15
Done!  9bffe66

[2016-05-31 00:05] #15 closed

[2016-05-31 12:24] #8 closed

[2016-06-05 02:31] eribertomota opened #22 "ERROR: Connection gone"
To reproduce:

`#` axel https://nm.debian.org/public/processes
Initializing download: https://nm.debian.org/public/processes
Connection gone.

Works fine with curl and wget.

Regards,

Eriberto

[2016-06-05 05:53] sijad commented on #22
after calling `SSL_read`, `SSL_get_error` returns `SSL_ERROR_WANT_READ`
https://github.com/sijad/axel/commit/b906b30f2f7b2c2532e744f7a3598493266b346c can fixes the issue but not sure if it's good solution or not @sdt

[2016-06-05 06:18] sdt commented on #22
Looks like a good fix to me - we use blocking reads, so there appears to be no problem using the auto-retry mode. Good stuff @sijad !

[2016-06-05 11:05] #22 closed

[2016-06-05 13:59] eribertomota commented on #22
Very good @sijad! Thanks @sdt for merge!

@sijad, if you want still playing, there are some challenges in #18 (I think that segmentation faults are the priority for Axel and are light for a newcomer).

I will release a new version with this fix now.

Cheers,

Eriberto

[2016-06-05 14:05] eribertomota commented on #22
The 2.10 building in Debian now... Very beautiful.

https://buildd.debian.org/status/package.php?p=axel&suite=unstable

[2016-06-05 14:47] sijad commented on #18
I guess https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=703453 has been fixed

[2016-06-05 16:01] eribertomota commented on #18
Hi @sijad.

You are right. Fixed in 2.7 version. I will close the bug. Thanks!

Cheers,

Eriberto

[2016-06-07 12:13] eribertomota opened #24 "Fail when disk is full"
Hi,

After a disk full, Axel is sending the following message:

Initializing download: http://xyz/1GB.zip
File size: 1073741824 bytes
axel: axel.c:190: axel_open: Assertion `nread == sizeof( axel->conf->num_connections )' failed.
Aborted

IMO, the best way is show a 'Disk full' message.

Cheers,

Eriberto

[2016-06-14 23:48] eribertomota commented on #4
Closing. Thanks!

[2016-06-14 23:48] #4 closed

[2016-06-15 08:16] denji opened #25 "Homebrew package"
* https://github.com/Homebrew/homebrew-core/pull/2009

[2016-06-15 12:02] #25 closed

[2016-06-16 01:19] sdt commented on #25
Thanks for doing that @denji !

[2016-06-21 12:15] pan-long commented on #24
Hi Eriberto,

I am not a native English speaker. What exact message do you think is the best?

Cheers,
Pan Long

[2016-06-23 08:11] dcb314 opened #27 "conf.c:108]: (error) Resource leak: fp"
Source code is

[code]

Suggest add missing call to fclose.

[2016-07-27 14:10] suhr opened #29 "SSL error: sslv3 alert handshake failure"
I guess, axel should prefer TLS over SSL.

[2016-07-28 00:01] sdt commented on #29
Could you please provide some more details there @suhr ?

What command were you trying to run? What operating system are you on?

[2016-07-28 06:52] suhr commented on #29
[code]

Gentoo. Axel version: 2.11 (custom ebuild).

SSLv3 is insecure, so a lot of sites reject it.

See also: http://stackoverflow.com/questions/26640628/sslv3-alert-handshake-failure

[2016-07-28 07:09] suhr commented on #29
Possible solution: try to use TLS first, and if the site doesn't support it, fallback to SSL.

[2016-07-28 07:29] sdt commented on #29
I'm going on vacation until the 8th of August, so I won't be able to look into this until then.

FWIW, I get the same error on axel 2.11 from mac homebrew.

[2016-07-31 14:17] iho opened #30 "buffer"
Hi!

Thanks for this useful and excellent utile!

Can you implement in-memory buffer option to allow not write so often to disk?

[2016-07-31 22:26] sdt commented on #30
Hi @iho,

Have you tried playing with the `buffer_size` option in the axelrc file?

It's not particularly well-documented, but this is the one:

 https://github.com/eribertomota/axel/blob/master/doc/axelrc.example#L65-L70

The axelrc file itself is mentioned in the manpage:

 https://github.com/eribertomota/axel/blob/master/man/axel.txt#L93-L96

[2016-07-31 22:28] sdt commented on #30
I suspect the default settings for a lot of these configuration parameters were chosen 15+ years ago.

It may be worth re-examining some of these from a 2016 perspective. 5kb seems rather small.

[2016-08-01 11:44] iho commented on #30
No.
@sdt thanks for help!

[2016-08-01 11:50] iho commented on #30
I set  but it still change file every second.
[code]

[2016-08-08 11:47] sdt commented on #30
I've had a bit of a look into this.

What's happening is that `tcp_read` tries to [read a full buffer's worth](https://github.com/eribertomota/axel/blob/54bd4c2e1d89302da450aa8c7e75dc97380549d8/src/axel.c#L398), but returns only what the underlying socket read returns (I was getting 1440 bytes - most likely the MTU). This is then [written to disk](https://github.com/eribertomota/axel/blob/54bd4c2e

[2016-08-08 12:34] sdt commented on #29
This appears to be an SNI issue.

see: http://security.stackexchange.com/questions/101965/ssl3-error-when-requesting-connection-using-tls-1-2

The commit above has a _partial_ fix, but needs some more work.

[2016-09-20 10:00] phillipberndt opened #33 "Extract the file size from the Content-Range header"
This happens quite randomly, but I finally found an example where this is reproducible:  Downloading [dietlibc-0.33.tar.bz2](https://www.fefe.de/dietlibc/dietlibc-0.33.tar.bz2) with default settings fails to request the final byte of the file.

After doing some digging, I have learned that this is actually due to a bug in the webserver, which replies with a `Content-Length` header short by 1 from

[2016-09-28 04:13] sdt commented on #33
Fixed in #34

[2016-09-28 04:13] #33 closed

[2016-10-03 17:14] douglascamata commented on #29
Ping!

I'm having this issue too :(

[2016-10-04 21:04] centminmod opened #35 "cloudflare SSL error: tlsv1 alert internal error"
seems axel 2.11 doesn't like cloudflare hosted HTTPS sites with ECDSA ciphers

[code]

wget works fine

[code]

wget version

[code]

[2016-10-10 02:36] linglingtingfei opened #36 "broken-point continuingly transferring"
Does anyone know axel can achieve HTTP? Why do it restart to download files again other than continuing to transfer the last tasks when debugging?

[2016-10-10 04:03] sdt commented on #36
Sorry, could you be a little more specific please?

What are you trying to do?
What are you expecting to happen?
What is happening instead?

[2016-10-10 07:37] linglingtingfei commented on #36
Well, here's the thing: I'm downloading files using axel from website. Due to some error  occurred, the program was interrupted.
 After bug was fixed, the program restart to download again BUT the program didn't continue last task. This led to download duplicate files.
 In short, I want to axel can accomplish the same goal of the command “wget -c”.

[2016-10-12 07:48] linglingtingfei commented on #36
@sdt Could you answer my question? I'd appreciate that!

[2016-10-12 21:17] sdt commented on #36
My understanding is that axel *does* resume interrupted downloads. I'm not sure what's happened in your case sorry.

Can you provide a reproducible case where this doesn't happen?

[2016-10-13 02:15] linglingtingfei commented on #36
First, my code is `cat the-download-url.list | xargs -l1 axel -n 8 -a`; Then, I rerun the program, it outputted duplicated files like the below screenshot shown.
![image](https://cloud.githubusercontent.com/assets/20789616/19334259/48625e82-912d-11e6-9055-c43b384453c8.png)

[2016-10-13 02:31] sdt opened #37 "Add a don't-download-again flag"
See #36

If you ask axel to download a file that already exists, it will add a .0, .1, .2 suffix to the filename until an unused filename is found.

Perhaps a flag to skip already-downloaded files. This would not apply if the state file existed.

[2016-10-13 02:34] sdt commented on #36
Ah, I see what's going on.

The downloads completed successfully, but then downloaded again when you asked to download them again.

The behaviour you're seeing is the intended behaviour, but I understand your use-case.

I've created a feature request for that in #37.

I'll close this issue in preference to the new one. Let me know if you had something else in mind.

[2016-10-13 02:34] #36 closed

[2016-10-13 21:17] cathalgarvey commented on #35
It is [alleged here](https://askubuntu.com/questions/214018/how-to-make-wget-faster-or-multithreading) that Axel fudges SSL/TLS and uses plain HTTP to download. If so, this would explain why even slightly secure servers refuse to allow Axel to finish connecting.

If true, it's a complete shambles and needs to be fixed ASAP.

[2016-10-13 22:38] sdt commented on #35
Sorry for the late response there @centminmod

There is a patch which _may_ fix your issue here: https://github.com/sdt/axel/tree/issue/29 . I haven't had time to look at this lately.

@cathalgarvey - that used to be the case. Actual HTTPS handling got added in e1ebab044c0476c09faadbb88a99ea4c839bf19c. There are still some outstanding issues to be fixed. Pull requests are most welcome.

[2016-11-03 08:30] NikosEfthias commented on #7
i still have this issue on ubuntu 16.4 wget successfully downloads the file from transfer.sh however on axel i get this error message

[2016-11-03 09:04] sdt commented on #7
What version of axel do you have @NikosEfthias ?

[2016-11-19 19:39] denji commented on #37
## Branch: no-clobber https://github.com/axel-dl/axel-ideas/tree/no-clobber

Skip files that are already downloaded (don't clobber from `wget`).

* New command-line argument `-c` or `--no-clobber`.
* New config file option `no_clobber = 1`

[2016-11-25 12:35] snowdream commented on #29
i get the problem too, when i use axel with mac.
[code]

axel SSL error: sslv3 alert handshake failure

[2016-12-02 13:30] l2dy opened #40 "Add ipv4 and ipv6 only flag"
Like curl's:
[code]

[2016-12-12 18:59] WilhelmErasmus commented on #7
I'm having the same problem. From what I've read, it seems that the problem has been fixed, but I think that Ubuntu probably doesn't have the latest update yet.

[code]

[2016-12-16 18:34] Zibri commented on #29
same here

[2016-12-26 08:06] h4y44 opened #42 "Segfault when downloading https"
this error happens unexpectedly, backtrace
[code]

[2017-01-16 02:59] huzhifeng commented on #7
Still exists on CentOS 7.2
[code]

[2017-01-28 00:24] wonderfullyrich opened #44 "File name error"
Hi all,
I seem to be experiencing a file name parsing issue.

I run
`axel -a -n 6 -v -s 204800 "https://something.url.com/d/p/longalphastring/Name%20of%20File.zip"`
and the file name the results in being downloaded is
"Name" rather than "Name of File.zip" which leads me to believe it's not parsing the spaces.

Other computers with axel (older OSX version and axel versions) run without this malform

[2017-02-03 08:08] poppingtonic commented on #7
Still exists on Arch Linux:

[code]

[2017-02-15 13:40] centminmod commented on #40
yes please :)

[2017-02-19 12:50] mkdadi opened #45 "Connection gone: SSL through Proxy"

[2017-02-19 13:00] mkdadi commented on #45
Hi all,
I observed that when using axel with https links through a proxy server, it gives Connection gone error.

I ran `axel -n 50 https://github.com/mkdadi/ShortTermMC/archive/v3.1.zip` through a http_proxy server.

[2017-03-07 07:07] spaghetti- commented on #42
No issues for me with the current release. @h4y44 can you please give more details?

[2017-03-09 11:20] dzg opened #48 "Getting latest version on osx?"
I installed via `brew` ... but it's version 2.12

How can I upgrade to the latest?

[2017-03-09 21:46] ahmedelmahy commented on #7
still exists

[2017-03-15 18:20] charan223 commented on #7
still exists
~$ axel --version
Axel version 2.4 (Linux)

[2017-03-18 03:17] mkdadi commented on #48
Hi @dzg , you can download the master zip from [here](https://github.com/eribertomota/axel/archive/master.zip) and build from source.

[2017-03-18 03:18] mkdadi commented on #42
Yeah, I also came across Segfault and sometimes a broken pipe.

[2017-03-19 14:40] h4y44 commented on #42
@spaghetti- sorry i'm no longer using it, so i can't help

[2017-03-19 15:28] crimsonvspurple opened #50 "Segfault during downloading large file from dropbox"
Hello.

I'm getting Segfault when trying to download a 221GB file from dropbox.

wget works fine but axel produces segfault at the start.

axel -n 16 https://www.dropbox.com/[removed]dl=1
Initializing download: https://www.dropbox.com/[removed]dl=1
File size: 238264867109 bytes
Opening output file [removed]
Starting download
Segmentation fault

[2017-03-24 02:14] fewtime commented on #29
I get the same problem, when I use it on Archlinux
Version: Axel version 2.12 (Linux)
OS: Archlinux
`axel https://download.jetbrains.com/idea/ideaIU-2017.1.tar.gz`

Error mesage:
`SSL error: sslv3 alert handshake failure`

[2017-03-25 21:38] daniel12fsp commented on #29
I get the same problem, when I use it on Ubuntu 16.10
Version: Axel version 2.11 (Linux)
OS: Archlinux
axel -n 5 -a http://download.docker.com/linux/ubuntu/dists/yakkety/pool/stable/amd64/docker-ce_17.03.0\~ce-0\~ubuntu-yakkety_amd64.deb

Error mesage:
SSL error: sslv3 alert handshake failure

[2017-03-27 02:29] HandsomeHans commented on #7
still exists on Ubuntu 14.04  64bit
hans@hans-HP-PC:~$ axel --version
Axel version 2.4 (Linux)

Copyright 2001-2002 Wilmer van der Gaast.

[2017-03-28 02:11] evroza commented on #7
Still exists on ubuntu 14.04 64 bit. axel 2.4

[2017-03-31 17:02] kcavagnolo commented on #7
Confirmed on Ubuntu 16.04.2 LTS as well:
[code]

[2017-06-14 13:28] nemermollon commented on #44
I think that i solved the problem

[2017-06-14 13:38] nemermollon commented on #44
See the pull request #53

[2017-06-19 16:25] mcauser opened #54 "Many https seg faults"
Seeing a lot of `Segmentation fault: 11` after upgrading to `2.12` on OSX 10.11.6.
Primarily when downloading 10-20 HTTPS connections.

Tends to happen most when progress is around 95-100% complete.

[2017-06-19 17:33] ismaell commented on #54
Can you provide a core file or a backtrace?

[2017-06-19 17:40] mcauser commented on #54
What command should I run to get you that?

[2017-06-19 18:25] ismaell commented on #54
Backtraces can be obtained using a debugger, e.g. LLDB.

Just prefix the command like this:

	lldb -- command...

Then use the `run` lldb command to launch it, and when it crashes you run `bt all` to generate a backtrace of all threads.

[2017-06-19 18:27] ismaell commented on #54
with GDB the procedure is similar:

	gdb --args command...

then `run`, then `thread apply all bt`.

[2017-06-20 16:19] ehye commented on #7
still in  Ubuntu 16.04.1 LTS
`axel --version

Axel version 2.5 (Linux)

Copyright 2001-2007 Wilmer van der Gaast,
          2015      Joao Eriberto Mota Filho,
                    and others.
Please, see the CREDITS file.
`

[2017-06-20 16:39] ismaell commented on #7
Distributions have their own bug trackers, if the package is outdated it's up to the distribution to patch or upgrade it.

[2017-06-22 07:12] xiaoxiaoleo commented on #29
@snowdream @Zibri  Change protocal  https to http :)  ,then fixed!
 axel -n 10 http://download-cf.jetbrains.com/python/pycharm-professional-2017.1.4.dmg

[2017-06-22 07:22] snowdream commented on #29
@xiaoxiaoleo thank you. it works.

[2017-06-23 01:27] HandsomeHans opened #55 "cannot configure on CentOS6.9"
I run ./autogen, I received:
"
configure.ac:46: warning: macro `AM_GNU_GETTEXT' not found in library
configure.ac:47: warning: macro `AM_GNU_GETTEXT_VERSION' not found in library
autoreconf: configure.ac: AM_GNU_GETTEXT_VERSION is used, but not AM_GNU_GETTEXT
Done. You can use the 'clean' option to vanish the source code.
Example of use: $ ./autogen.sh clean
Now run ./configure, make, and make ins

[2017-07-01 11:17] ismaell commented on #55
Have you installed the `gettext-devel` package?

[2017-07-03 05:57] HandsomeHans commented on #55
@ismaell No! Maybe you are right! But I give it up, because I just cannot find a gettext-devel-0.18.2-el6 package for centos 6.9. Anyway, thank you very much!

[2017-07-06 21:47] nunesapaloma commented on #54
I am facing this same problem specially when I am call the axel via jenkins job. 100% reproducible. I am using this version:

$ axel --version

Axel version 2.12 (Darwin)

[2017-07-07 09:33] jsEveryDay opened #56 "Ignore SSL errors and continue"
As I see many people have issues with axel and https.
I have similar issues due to self signed certificate.

What is the option for **axcel equivalent to wget --no-check-certificate** ?

Is there an option for axelrc to ignore or not verify SSL certificates by default?

[2017-07-11 07:08] TiGR opened #57 "Number of connections is ignored when continued"
To reproduce do `axel -a -n 4 URL` wait for all 4 segments start to download, then `axel -a -n 2 URL`. You will notice that you can't make 2 connections, it always continues with 4.

[2017-07-12 04:09] viennadd opened #58 "potential data race in getting speed of connections"
Hi all,

Our bug scanner has reported a data race issue at [text.c#L237](https://github.com/eribertomota/axel/blob/master/src/text.c#L237),

in function `main`, `search_sortlist` sorts threads created by search_getspeeds,
[code]

`search_getspeeds` returns 0 if `pthread_create` failed,
would it create a part of speedtest threads, then hit one `pthread_create` failure and returns to main function?

[2017-07-16 04:46] ismaell commented on #54
@nunesapaloma Can you provide a backtrace or core dump file?

[2017-07-16 04:52] ismaell commented on #58
Good catch.

[2017-07-16 04:58] #27 closed

[2017-07-16 05:57] ismaell commented on #44
Seems it's an OS-specific issue. More information is needed.

[2017-07-16 06:16] ismaell opened #59 "Fix http_encode URI encoding implementation"
The current implementation only escapes spaces. All special characters must be escaped.

[2017-07-16 06:20] ismaell commented on #48
Not a bug.

[2017-07-16 06:20] #48 closed

[2017-07-16 06:22] ismaell commented on #50
Could you provide a backtrace or core dump?

[2017-07-16 06:29] ismaell commented on #55
OK. Closing. It's not a bug.

[2017-07-16 06:29] #55 closed

[2017-07-16 06:37] ismaell commented on #56
The `--insecure` / `-k` switch disables certificate verification.

[2017-07-16 13:15] jsEveryDay commented on #56
Thanks,

Couldn't find it anywhere.
Now my .bashrc works great.

[2017-07-16 13:15] #56 closed

[2017-07-29 16:10] ismaell opened #61 "Replace obsolete `usleep` with `nanosleep`"
[code]

[2017-07-31 08:21] BrainMaestro commented on #54
Hey @ismaell, I have the same issue on macOS. I followed your steps to generate a backtrace with lldb. Let me know if that's what you need. Thanks.

<details>
<summary>Backtrace from `lldb`</summary>

</details>

[2017-08-01 20:59] ismaell commented on #54
@BrainMaestro Excellent. Thanks.

[2017-08-02 17:23] #59 closed

[2017-08-04 11:08] eribertomota opened #62 "Warnings when building 2.13.1 version"
On Debian Stretch, Axel 2.13.1 build produces the following warnings:

	conf.c: In function 'conf_loadfile':
	conf.c:77:3: warning: ignoring return value of 'fscanf', declared with attribute warn_unused_result [-Wunused-result]
	   fscanf( fp, "%100[^\n#]s", s );
	   ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	conf.c:78:3: warning: ignoring return value of 'fscanf', declared with attribute warn_unused_result

[2017-08-09 01:21] davidpolverari opened #64 "Replace standard library string.h functions with dynamic string ones"
The usage of a dynamic string library, such as SDS - Simple Dynamic Strings (https://github.com/antirez/sds), would help getting rid of buffer overflows, by using dynamic heap-allocated strings instead of fixed-sized stack-allocated ones. In the particular case of SDS, it even provides an implementation that is compatible with good old C strings, making it easier to make the transition and to inte

[2017-08-09 04:15] ismaell commented on #64
Doesn't avoid the need to rewrite the code, and static analysis can catch these issues and more, so I don't see the advantage (I speak from experience, I wrote a similar library for InitNG back in 2006 and it was a waste of time).

Interestingly, GCC 7 is spitting out some warnings, if anyone wants to try to fix those before the code is replaced.

[2017-08-10 00:04] davidpolverari commented on #64
Yes, rewriting some code will be needed. Static analysis can really catch some issues, but will require us to fix the code, while using a dynamic string library would avoid those issues in the first place, making it easier to implement new features that depend on string manipulation without off-by-one or buffer overflow bugs. If it is deemed useful, I can create a topic branch and slowly try to mi

[2017-08-10 01:00] ismaell commented on #64
My plan is to replace all the code anyway, as in complete rewrite, for the reasons you mentioned, plus it's unclean and there's a lot of wasteful use of memory. Perhaps you could help with that in the process (otherwise we would end with lots of conflicts between the branches).

But, what I've been thinking about, is that it would be useful to have an iovec-like structure to allow to build substri

[2017-08-10 02:39] ismaell commented on #64
I was talking about https://github.com/eribertomota/axel/pull/63.

[2017-08-21 08:07] ordex commented on #54
For your information, I see this on linux as well. I'll try to grab more info.

[2017-08-21 14:05] ordex commented on #57
Apparently this is a wanted behaviour (somebody correct me if I am wrong), therefore I think this is more a feature request than a bug (?).

Imho the tricky part is in dealing with the file fragmentation: if at the beginning we have 2 connections, each of them will start downloading at a given offset.
If we then switch to 7 connections, their offsets won't match any data that was downloaded before

[2017-08-22 07:46] ordex commented on #54
If anybody is willing to test the fix I pushed in PR #66 .. that would be nice :)

[2017-08-22 15:20] ismaell commented on #44
Doesn't seem so. I'm not sure if the bug was just fixed or the problem is with Mac OS X alone...

[2017-08-22 15:21] ordex commented on #44
mh, sorry, but I seriously think my comment was for another issue...not this one :( too many tabs open.

[2017-08-22 15:25] ordex commented on #42
@ismaell I think this one is a clone of #54, no?

[2017-08-22 15:38] ismaell commented on #42
It looks like a different issue, different functions involved, no signs of `SSL_free` in the other issue's backtrace.

[2017-08-22 15:40] ordex commented on #42
right, then my PR is probably fixing this issue, not the other.

[2017-08-22 15:47] ismaell commented on #42
Yes, you should mention this one, this one is definitely fixed by #66. The other one may be another symptom, but I have no way to test it... if you can confirm if it's the same problem, that would be awesome.

[2017-08-22 15:49] ordex commented on #42
Although also in the other backtrace there seems to be some SSL involved. And being the thing so racy, plus the fact that the stacktraces might not be perfect (not sure what optimazation was enabled when their binary was built), it could really be that they are somehow related. Although it's just a wild guess.

[2017-08-22 15:52] ismaell commented on #42
It's actually a good guess, it is likely to be related, but I would like confirmation before closing the other report. In the other case it's not a double free but an access after free issue.

[2017-08-22 15:54] ordex commented on #42
True. Maybe the easiest option is to have somebody from that ticket test my fix and see what they get..
Or dig deeper in the stacktrace provided by the user :)

[2017-08-22 15:54] ismaell commented on #42
Nevermind about adding the comment in #66's commit, I'll add the comment and merge it right now.

[2017-08-22 15:59] #42 closed

[2017-08-22 19:01] ismaell commented on #57
It is indeed tricky, but it should be possible to override it from the command line. It would need some abstraction to make things look nice to the rest of the code.

[2017-08-22 23:19] ismaell commented on #35
Fixed by commit 896310575868ec883a30f768c32771a5bf6dc451.

[2017-08-22 23:19] #35 closed

[2017-08-22 23:24] ismaell commented on #29
Fixed by commit 896310575868ec883a30f768c32771a5bf6dc451.

[2017-08-22 23:24] #29 closed

[2017-08-24 00:12] ordex opened #73 "consider using libcurl"
Hello,
this question probably goes to @ismaell @eribertomota : have you guys ever considered the possibility to use libcurl directly into axel? I think this would simplify the code a lot as you won't need to deal with the "low" level http/ftp connection and can focus more on handling the data at the higher level.
Any thought?

[2017-08-24 00:33] ismaell commented on #73
Hi @ordex,

libcurl is over 8.5x bigger; does that answer your question? 😛

I don't discard splitting axel into a library and a frontend though.

[2017-08-24 00:35] ordex commented on #73
haha yes it does :D I'll close this ticket as it is useless

[2017-08-24 00:35] #73 closed

[2017-08-24 14:12] ordex opened #76 "add support for mbedtls"
given that axel is focussed on being small in size, I think it would make sense to make it work with mbedtls and let the user choose (at compile time) which SSL library to use. This may help axel spreading around also on embedded platforms.

[2017-08-24 15:08] ismaell commented on #76
Indeed. In the process we could build some common abstraction. It would be nice to support WolfSSL too.

[2017-08-24 15:11] ordex commented on #76
Yeah, that makes sense. What I have in mind is some kind of common abstraction layer made up by a set of functions that are attached to a different implementation based on what library we choose.

In theory we also have libreSSL and OpenSSL-1.1 which may require attention at some point. Although I personally would prefer not to support too many, otherwise it may become time consuming to maintain t

[2017-08-24 16:59] ismaell commented on #76
I am testing against LibreSSL already.

Is there any incompatible changes in OpenSSL 1.1?

[2017-08-24 17:01] ordex commented on #76
API has partly changed. Also some objects have to be handled differently. But axel does not use the SSL API that heavily..therefore it may also be that it will just work.

[2017-08-25 02:09] ismaell commented on #61
Fixed by commit 480222fbb7b176f252c450af01bac5bc2038485e.

[2017-08-25 02:09] #61 closed

[2017-08-25 02:12] ismaell commented on #44
Can't reproduce it on Mac OS X 10.9. Closing.

[2017-08-25 02:12] #44 closed

[2017-08-26 16:01] kmiksi opened #80 "Axel dies saying 'Too many redirects'"
Probably not related to #7, that was associated with no https support and closed by @std ssl inplementation on #19.
More URLs I had tryed ends up with this error.

Looking at source code, it seems that MAX_CONECTIONS is set to 20. Sadly, WGET only make 3 redirects to a final http address...

**Details testing "https://osdn.net/dl/android-x86/android-x86-7.1-rc1.iso":**

Axel fails with 'Too many r

[2017-08-26 16:25] ismaell commented on #80
This has been fixed but not released yet. Next release is planned for September 10.

[2017-08-26 16:25] #80 closed

[2017-08-27 01:32] ordex commented on #62
I think this can be closed now. All the warning are gone :)

[2017-08-27 01:41] ordex commented on #37
How is the check in wget implemented? Just filename check? or there is also a size check?
Axel could simply check if the .st file exists. If not, it could assume the download is complete and move on (or additionally also check the size).

[2017-08-27 01:45] ordex opened #83 "make axel thread-safe"
There are a bunch of objects in the code that are accessed both by the main thread and by the downloading ones. Although practically race conditions seem to be rare, the probability of hitting one increases with the number of connections.

Such objects should be protected by mutex/lock to avoid concurrent access.

[2017-08-27 02:18] ordex opened #84 "Close downstream bug reports about HTTP proxy authentication"
- [x] Bug on Ubuntu: https://bugs.launchpad.net/ubuntu/+source/axel/+bug/922963
- [x] Bug on Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=675964
- [x] Proposed patch: https://lists.alioth.debian.org/pipermail/axel-devel/2011-February/000198.html

[2017-08-27 06:25] ordex commented on #84
How about using the encode function provided by OpenSSL? Compiling against OpenSSL is quite standard I think. When that does not happen, we can compile out the http-auth code. What do you think?

[2017-08-27 06:29] #62 closed

[2017-08-27 07:24] ismaell commented on #84
We should get those bugs closed then close this one.

[2017-08-27 07:26] ordex commented on #84
I am not registered to any of those platform. are you? If not, I will find a way to let them know.

[2017-08-27 07:44] ismaell commented on #84
I'll take care of this after the next release.

[2017-08-27 07:49] #40 closed

[2017-08-27 10:40] ordex opened #92 "use as many connections as URLs"
If more than one URL is provided by the user, axel should use at least as many connections as the number of URLs. If not, some URLs would go unused.

Maybe we should rather set num-connections as (num-connections x num of URLs) ?

[2017-08-28 10:22] ordex commented on #24
Actually that message happens because axel is trying to open a bogus state file (probably bogus because it couldn't be written properly as there s no space on disk). But generally speaking proper checks of this kind are missing.

[2017-08-28 12:26] ismaell commented on #92
Perhaps when the flag isn't specified... definitely not num_urls*num_connections.

[2017-08-28 12:30] ordex commented on #92
yeah, that could be a good idea. if no flag is specified, then we spawn as many connections as the urls.
If the flag is specified but the number is less than the urls then we print a warning

[2017-08-28 12:40] ismaell commented on #92
With some reasonable limit. I think it's not a bad idea to specify more URLs than connections given it could be just for fallback (do we handle that correctly?).

[2017-08-28 12:41] ordex commented on #92
I am not sure if we do handle that correctly. we should check that

[2017-08-28 12:42] ismaell commented on #5
https://httpbin.org/ could be used for testing.

[2017-08-28 13:56] eribertomota commented on #84
Hi,

Let me know if this issue was solved after last release. If yes, my next upload to Debian will be able to close the issue in Ubuntu. To close in Fedora is needed a new upload there to make available the last  Axel version. Axel in Fedora is outdated and you can see it here:

https://repology.org/metapackage/axel/versions

[2017-08-29 05:37] ordex commented on #37
wget manpage talks about filename only. I think we can just mimic the same behaviour then.

[2017-08-29 05:42] ordex commented on #37
@ismaell do you agree on using the same command line options as specified by the previous user "-c or --no-clobber" ?

[2017-08-29 06:02] denji commented on #37
https://github.com/axel-dl/axel-ideas/compare/fa372d8...d776869

[2017-08-29 06:03] ordex commented on #37
@denji glad to see you are still active. I'll comment your code then!

[2017-08-29 06:04] ordex commented on #37
@denji actually, could you please make a pull request? there we can comment/review. Thanks!

[2017-08-29 18:49] ismaell commented on #37
@ordex I think it's fine to use those options.

[2017-08-30 12:43] ismaell opened #95 "Linking stage build failure on OpenBSD 6.1"
...
	gcc -std=gnu99  -Os -Wall -Wall  -lintl -pthread -o axel axel.o conf.o conn.o  ftp.o http.o search.o ssl.o  tcp.o text.o  -lssl
	/usr/bin/ld: cannot find -lintl
	collect2: ld returned 1 exit status
	*** Error 1 in src (Makefile:364 'axel')
	*** Error 1 in . (Makefile:485 'all-recursive')
	*** Error 1 in /home/ismael/axel (Makefile:358 'all')

[2017-08-30 15:33] ordex commented on #95
Probably something like this should be enough if that option is not available on BSD:

[code]

[2017-08-30 17:39] ismaell commented on #95
I am not seeing any system providing linintl...

Am 30. August 2017 12:33:46 GMT-03:00 schrieb Antonio Quartulli <notifications@github.com>:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-31 02:02] ordex commented on #95
on macOS it builds with -lintl. But what do we need it for exactly?

[2017-08-31 02:05] ismaell commented on #95
Isn't it part of gettext?
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-31 02:29] ismaell commented on #95
We need to add `-L/usr/local/lib` to `LDFLAGS`.

[2017-08-31 02:38] ordex commented on #95
to which platform? Usually /usr/local/lib i used for manually installed libraries, no? standard installation should always copy libraries in /usr/lib*
If the user has the need to use -L/usr/local/lib then it should be added by him. no?

[2017-08-31 02:45] ismaell commented on #95
That's not the case for *BSD.
Anyway, the true problem is that `configure.ac` is not using the output of `AM_GNU_GETTEXT`.

[2017-08-31 02:49] ismaell commented on #95
Fixed by 968990414792e6c388028bd8d3aeff0a5768cf28.

[2017-08-31 02:50] #95 closed

[2017-09-01 15:14] #24 closed

[2017-09-01 15:56] #83 closed

[2017-09-01 16:18] ordex commented on #50
@crimsonvspurple will to test the latest master and see if the bug is still there? if yes, it would be nice if you could provide a coredump or backtrace, as @ismaell said. Thanks!

[2017-09-02 14:31] ordex commented on #30
I don't thin kaxel should optimize the write operations, the filesystem is probably already taking care of this. I don't believe that each write corresponds to a real write to disk.

[2017-09-04 15:16] ordex commented on #37
@ismaell do you think axel should ignore the --no-clobber options if a .st file is found? having a .st file basically means that the previous download has not been completed and axel should continue. However this means trying to be smarter than the user. What should axel do in your opinion? Just stick to the user configured behaviour and skip the file even if the .st one is there?

[2017-09-04 16:35] ismaell commented on #37
@ordex just if there's no `.st` file.

Given the way we download files, it only makes sense to always continue a download.

[2017-09-05 01:45] ordex opened #101 "stalling connection leads to indefinite waiting"
When one of the connections stalls for any reason, Axel will take an enormous amount of time before timing it out and trying again. I usually kill axel and start it again to make the procedure faster.

I think we should tweak the TCP/connection timeout so that axel can be more reactive.

[2017-09-05 03:46] #37 closed

[2017-09-06 01:31] ismaell commented on #101
* send/recv: use `setsockopts` with `SO_SNDTIMEO` and `SO_RCVTIMEO` respectively.
* connection: set `O_NONBLOCK` and `select` with a single fd and a timeout, then clear `O_NONBLOCK`.

[2017-09-06 01:57] ordex commented on #76
[libtls](https://man.openbsd.org/tls_init) could be used as intermediate layer. It's a generic layer exposing a simple TLS API that is currently implemented by libreSSL and OpenSSL. porting to mbedtls should not be difficult too.

[2017-09-06 02:11] ismaell commented on #76
I'm trying to locate a patch implementing TLS support through libtls for an older version of axel.

[2017-09-06 05:14] ordex commented on #76
in my libtls branch it is possible to find a PoC for switching to libtls.

[2017-09-13 23:52] ismaell opened #106 "Downloads stall when about to reach 100%"
Likely something is wrong with the speed check in `axel_do` (shown in the backtrace), the last thread gets stuck in a loop calling `axel_nanosleep`.

[2017-09-16 02:55] milanistavietnam opened #108 "Windows Build?"
Can you build file .exe for Windows?
Like this (This build not support https):
https://st0rage.org/~n2j3/?page_id=225717166

Sorry for my bad English.
Thank you!

[2017-09-16 04:04] ordex commented on #108
Hi @milanistavietnam and thanks for your request. Yeah, Axel 2.4 is quite old. Current version is 2.14.

Personally I think it would make sense to provide a windows executable. What do you think @ismaell @eribertomota ?

We could crosscompile it and upload together with the release tarball.

[2017-09-16 13:56] ismaell commented on #108
+1

[2017-09-16 21:23] eribertomota commented on #108
Ok for me.

2017-09-16 10:56 GMT-03:00 Ismael Luceno <notifications@github.com>:

[2017-09-16 23:11] ismaell commented on #108
@ordex @eribertomota I can put together something next weekend, but we need to validate the build somehow, how do we coordinate that?

[2017-09-17 01:29] eribertomota commented on #108
2017-09-16 20:11 GMT-03:00 Ismael Luceno <notifications@github.com>:

I don't have/use Windows and I have no idea about how to make it. Sorry.
@ordex, we need a light!

Cheers,

Eriberto

[2017-09-17 02:51] ordex commented on #108
I also don't use windows. I only have a Windows XP VM, but I'd say that's outdated.
I could find somebody using windows around here, but I wouldn't consider it a stable solution.

How about we use [appveyour](https://www.appveyor.com/)? I have never used it, but basically it should be like travis-ci for windows. It can build and perform some tests.

[2017-09-17 19:08] ismaell commented on #106
Fixed by commit e6422f833bb4925bc6b37e429640e620a124ecb1.

[2017-09-17 19:08] #106 closed

[2017-09-17 19:41] ismaell commented on #108
@ordex @eribertomota cross-compiling and testing is easy, can be done from Linux, no problem.

The issue is, we need to provide some assurance about the origin of the executable, it's not source code, it's not so practical to audit.

We all would need to follow a repeatable build process and PGP-sign the result, after each release.

[2017-09-17 21:41] ismaell commented on #108
Trying to complie, I found one issue that should have been obvious, there's no `ptheads` library on Windows... we need some wrapper.

[2017-09-18 04:59] ordex commented on #108
oh, I though mingw would be posix compliant :(

[2017-09-18 13:54] ismaell commented on #108
@ordex for POSIX you need Cygwin or SFU. Not sure about WSL, but that's for running Linux-ABI binaries anyway...

[2017-09-18 14:38] ordex commented on #108
maybe we should get rid of the threads first :)

[2017-09-18 17:45] ismaell commented on #108
Yes, I guess so, I am guessing 2.4 didn't use threads either.

[2017-09-19 00:14] ismaell opened #111 "SSL through HTTP proxy"
We don't yet support this. PR #49 doesn't handle it correctly.

This needs to be handled differently from regular HTTP proxying, we need to do a CONNECT and suppress all the other proxy-related behavior (missing in PR #49).

[2017-09-19 00:15] ismaell commented on #101
@ordex do you want to tackle this one?

[2017-09-20 03:40] ordex commented on #101
Yes, I can have a look

[2017-09-20 03:42] ordex commented on #111
Can this really be achieved? HTTPS through proxy means we can't verify the final certificate, right? because it will be the proxy to do that for us.

[2017-09-20 03:44] ordex commented on #84
I have seen @ismaell has commented on each bug. Have they been closed? or do we need to something else?

[2017-09-20 03:45] ordex commented on #54
Anybody can test 2.14.1 to verify if this issue has been fixed or not? Thanks!

[2017-09-20 03:47] ordex commented on #50
We haven't been able to replicate this bug yet. @crimsonvspurple if you have a chance, could you test our latest release 2.14.1? Otherwise I'd assume the problem is gone ..

[2017-09-20 05:06] mcauser commented on #54
I have yet to see an error on v2.14.1 on OSX 10.12.6
Seems to be fixed. Thanks!

[2017-09-20 05:08] ordex commented on #54
Awesome! thanks for your feedback! @ismaell I think we can close this? If any error should re-appear a new ticket can be opened with more details, I think.

[2017-09-20 07:44] ordex opened #113 "Italian translation"
We are currently working on an Italian translation to be integrated with the rest.
Lang code will be: `it_IT`

[2017-09-20 14:20] ismaell commented on #54
@ordex Yes. Closing.

[2017-09-20 14:20] #54 closed

[2017-09-20 14:22] ismaell commented on #50
Can't reproduce, I am guessing this is a duplicate of some of the other bug reports. Please re-open if the bug persists.

[2017-09-20 14:22] #50 closed

[2017-09-20 14:24] ismaell commented on #84
@ordex we need to poke the maintainers with a stick until they update the packages :-P, then the bug reports can/will be closed.

[2017-09-20 14:41] ismaell commented on #111
@ordex The `CONNECT` method creates a tunnel: https://tools.ietf.org/html/draft-luotonen-web-proxy-tunneling-01

It's slightly different from using other methods. Given we want to support SOCKS too, it's probably time to add some proper abstraction.

[2017-09-20 15:10] eribertomota commented on #113
Em quarta-feira, 20 de setembro de 2017, Antonio Quartulli <
notifications@github.com> escreveu:

Very good!

[2017-09-20 15:14] ordex commented on #111
Right, using connect CONNECT it makes sense

[2017-09-21 04:03] ordex commented on #113
@eribertomota I have copied the it_IT.po file in the po directory and added it to the LINGUAS file.
Then I have cleaned up my repo and restarted with autogen.sh... I see the it_IT.po file being used during the processing, but then, when I run Axel it still prints messages in English. What do I need to change to run it in Italian?
I have executed:
`export LINGUAS=it_IT`

[2017-09-21 19:25] eribertomota commented on #113
2017-09-21 1:03 GMT-03:00 Antonio Quartulli <notifications@github.com>:

Hi,

You need to run 'make update-po' inside po/ directory.

[2017-09-21 20:41] ismaell commented on #113
It should be something like: `export LANG=it_IT.UTF-8`

[2017-09-22 03:21] ordex commented on #113
I think the UTF-8 part is for LANG/LC_ALL, but not for LINGUAS.

By the way, something is wrong with what I am doing in axel, because after exporting the LINGUAS=it_IT, other command line tools are converting to Italian, while axel is still in english.

I ran make update-po

[2017-09-22 03:24] ordex commented on #113
I'll upload the changes so you all can have a look

[2017-09-22 04:29] ismaell commented on #113
@ordex Ah, wait, you meant to _generate_ only `it_IT`... ok, that's probably working, is the `.mo` file installed?

[2017-09-22 05:00] ordex commented on #113
@ismaell the .mo file is created, but must I *install* the .mo files somewhere in the system? or is it supposed to work even when running from the build folder?

[2017-09-22 11:14] eribertomota commented on #113
2017-09-22 2:00 GMT-03:00 Antonio Quartulli <notifications@github.com>:

See here the final files in to be distributed by Debian package:
https://packages.debian.org/sid/amd64/axel/filelist

[2017-09-22 16:25] ordex commented on #113
I see. Very useful, thanks!

[2017-09-22 16:56] ordex commented on #113
Ok, I made it work! The location where the .mo file are looked up can be changed with --localedir passed to ./configure (if this can be helpful).

[2017-09-25 03:17] ordex commented on #18
@eribertomota @ismaell I think we should close this ticket and open as many as needed for each single problem. Right now, we don't have any ticket for:
- Support .netrc files (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=127074)
- Flashgot+axel not working properly (https://bugs.launchpad.net/ubuntu/+source/axel/+bug/899867)

shall we open one each?

The others are already tracked in their ow

[2017-09-25 12:28] eribertomota opened #116 ".netrc support"
From Debian[1]:

Axel should try to use the .netrc file when trying to login to an FTP server.

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=127074

Regards,

Eriberto

[2017-09-25 12:29] eribertomota opened #117 "Flashgot+axel not working properly"
From Ubuntu[1]:

downloaded using flashgot+aria2 got proper downloads

but tried it using axel+flashgot all i got was image which could not be read.

type of download - all jpg images
60% of them 453 bytes and remaining 456 bytes

at the same time aria went through and got all properly ranging from 41 to 188 kb

for axel some of the errors that i got were
too many redirects.
server unsupported.
st

[2017-09-25 12:30] eribertomota commented on #18
2017-09-25 0:17 GMT-03:00 Antonio Quartulli <notifications@github.com>:

Done!

Cheers,

Eriberto

[2017-09-25 12:48] ordex commented on #18
Nice thanks! @eribertomota can we close this now?

[2017-09-25 12:52] eribertomota commented on #18
2017-09-25 9:48 GMT-03:00 Antonio Quartulli <notifications@github.com>:

I think that yes. Can you close?

[2017-09-25 13:19] ordex commented on #18
Sure

[2017-09-25 13:19] #18 closed

[2017-09-28 00:55] ismaell opened #119 "Sites that block Axel"
- [x] http://alioth.debian.org/ complains with error 406.

[2017-09-28 02:37] ordex commented on #119
@ismaell can you explain better what you mean with "block"? You mean that prevent axel from doing multiple connections?

[2017-09-28 04:34] ismaell commented on #119
@ordex sites that block/filter by User-Agent, returning some error code instead of the file.

[2017-09-28 04:35] ismaell commented on #119
@ordex was a false positive anyway :/.

[2017-09-28 04:53] ismaell opened #120 "Update downstream packages to 2.16.1"
- [ ] [Alpine Linux](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [x] [Arch Linux](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/axel)
- [x] [Buildroot](https://git.buildroot.org/buildroot/tree/package/axel/axel.mk)
- [ ] CentOS
- [x] [Debian](https://packages.qa.debian.org/a/axel.html)
- [ ] Fedora
- [ ] [FreeBSD](https://svnweb.freebsd.org/

[2017-09-28 05:15] ordex commented on #120
added Gentoo as a reminder

[2017-09-30 20:59] henriqueiv opened #121 "Progress bar fixed on 0%"
The progress bar is fixed in 0% when installing from Homebrew on macOS High Sierra.

To test:
`$ axel https://repo.continuum.io/archive/Anaconda3-5.0.0-MacOSX-x86_64.pkg`

Is there any correction for this?

[2017-10-01 05:11] ordex commented on #121
@henriqueiv is it just a problem of "the bar"? I mean, does the download eventually complete or does it get stuck and never finishes?

[2017-10-01 13:16] henriqueiv commented on #121
Yes, just the bar. The file is correctly downloaded. The % and the bar doesn’t update. The speed is ok also.

[2017-10-01 13:19] ordex commented on #121
@henriqueiv thanks a lot for your reply. Can you clarify if your axelrc file contains alternate_output = 1 or not? That may point us to the right area of the code.

Thanks again!

[2017-10-01 19:48] #113 closed

[2017-10-02 15:35] ordex commented on #121
I have been able to see the problem. It happens with both standard and alternate output

[2017-10-02 15:49] henriqueiv commented on #121
@ordex I'm not with my Mac right now but my `axelrc` file has never been changed, so if there is a default value, this value is still there for sure.

[2017-10-02 15:50] ordex commented on #121
thanks @henriqueiv . However I have been able to reproduce the issue, therefore I should be able to understand what's wrong now. Thanks again for reporting!

[2017-10-02 16:00] ordex commented on #121
I take back what I said. I just tried downloading a 100MB file and the % increases as expected. I just made several tests.

The file you recommend is bigger than 100GB, which means that it will turn 1% after 1GB, which requires quite some time. @henriqueiv have you managed to complete this download (until 100GB) and the % was always 0?

[2017-10-02 18:21] henriqueiv commented on #121
@ordex this file is only 567MB as you can see in [here](https://i.imgur.com/zm5HW5S.png).

The output when executing `axel https://repo.continuum.io/archive/Anaconda3-5.0.0-MacOSX-x86_64.pkg` is:
[code]

Ps. I canceled the download just to get the downloaded size.

It seems the problem is the file size axel is getting.

[2017-10-02 23:52] ordex commented on #121
yeah, apparently something is fooling Axel. The problem exists also on Linux.

[2017-10-03 00:46] ordex commented on #121
Apparently this server does not support range-requests (as reported by the output) and axel, as a fallback measure, was setting the size to LLONG_MAX.

This is meaningful if the server did not provide any size, but if it did (like in this case) it should be preserved.

I'll send a fix for this soon.

[2017-10-03 01:14] ordex commented on #121
I have created PR #123. @henriqueiv would you be able to compile from source and test the fix?

[2017-10-03 02:50] #121 closed

[2017-10-03 20:21] ismaell commented on #101
@ordex what would be a reasonable timeout value?

[2017-10-04 00:40] ordex commented on #101
@ismaell I don't have a value in mind. But maybe we could check what wget does in these cases?

[2017-10-04 01:10] ismaell commented on #101
@ordex 900 seconds for wget, seems a little bit too high, perhaps we should use 2 minutes...

[2017-10-04 01:13] ordex commented on #101
yeah I agree. I don't think 900 seconds can be useful at all.

[2017-10-04 06:00] #101 closed

[2017-10-04 22:53] ismaell opened #125 "Segfault handling -S/--search argument"
$ ./axel -S 10 https://www.mirbsd.org/MirOS/current/cdrom10.iso
	Segmentation fault

Backtrace:

	#0  0x00007ffff72ad31f in rawmemchr () from /lib/libc.so.6
	#1  0x00007ffff7296382 in _IO_str_init_static_internal () from /lib/libc.so.6
	#2  0x00007ffff728396a in __isoc99_vsscanf () from /lib/libc.so.6
	#3  0x00007ffff72838ff in __isoc99_sscanf () from /lib/libc.so.6
	#4  0x00000000004087c3 in main

[2017-10-05 01:24] ismaell opened #127 "Make it possible to compile without gettext"

[2017-10-05 03:38] #58 closed

[2017-10-05 12:04] ismaell commented on #119
Fixed.

[2017-10-05 12:04] #119 closed

[2017-10-05 13:02] ismaell commented on #127
Fixed by commit bd4130621c44ef615d1eee6260102537524acdff.

[2017-10-05 13:02] #127 closed

[2017-10-05 16:02] eribertomota commented on #127
2017-10-05 10:02 GMT-03:00 Ismael Luceno <notifications@github.com>:

Humm... Is it a good idea?

[2017-10-05 18:59] ismaell commented on #127
Why should it be required?

[2017-10-06 03:52] ordex commented on #125
@ismaell note that this is a regression. Axel 2.14.1 installed on my system says:
[code]
while the version from master crashes.

[2017-10-06 04:25] ordex commented on #125
weird. If I run it as this:
[code]
it works. However getopt_long() is a bit unclear about the usage of ::

[2017-10-06 04:33] ordex commented on #125
Fixed by reverting b1417712d35d2f629fd5a46d2a09861832e26262.

[2017-10-06 04:34] ordex commented on #125
However, we should change the README/usage because when using -S the number of servers *must* be attached to the -S itself, i.e.: -S10 otherwise getopt_long() does not know if the 10 is the optional argument for -S or if it is the URL.

[2017-10-06 04:34] #125 closed

[2017-10-08 23:14] eribertomota commented on #127
2017-10-05 15:59 GMT-03:00 Ismael Luceno <notifications@github.com>:

To provide translations to users. It is default in most programs because
basic users are not able to build using several options. Maybe an option
--without-gettext can be a good idea. However, it is my opnion and I may be
wrong.

[2017-10-08 23:35] ismaell commented on #127
Does not `--disable-nls` get rid of `gettext` for users that need to compile without it?

[2017-10-09 04:42] ismaell commented on #45
I accidentally created a duplicate in #111. Closing this one as the other issue contains more information.

[2017-10-09 04:42] #45 closed

[2017-10-10 16:23] eribertomota commented on #127
2017-10-08 20:35 GMT-03:00 Ismael Luceno <notifications@github.com>:

Hum, you appear be right. Thanks.

[2017-10-11 02:08] ismaell opened #131 "Support end-to-end integrity checks"
- [ ]  [`RFC1864`](https://www.ietf.org/rfc/rfc1864.txt) - `Content-MD5` header
- [ ] `Digest` header

[2017-10-11 02:13] ismaell opened #132 "Harvest URL from HTTP headers"
HTTP header may contain `Link:` fields, as specified by [`RFC5988`](https://tools.ietf.org/html/rfc5988).

[2017-10-11 02:25] ismaell commented on #120
I submitted a patch to buildroot.

[2017-10-11 03:01] ordex commented on #120
PR submitted to gentoo (https://github.com/gentoo/gentoo/pull/5913)

[2017-10-12 18:48] eribertomota commented on #120
Hi! Thanks for new release.

Uploaded to Debian yesterday[1].

[1] https://buildd.debian.org/status/package.php?p=axel&suite=unstable
[2] https://packages.qa.debian.org/a/axel.html

Cheers,

Eriberto

2017-10-11 0:01 GMT-03:00 Antonio Quartulli <notifications@github.com>:

[2017-10-19 15:18] zaza42 opened #133 "axel 2.15 and --quiet"
axel 2.15 produces 0 bytes long output when using `--quiet` option.

[code]
Version 2.14 works well without this bug.

[2017-10-19 16:47] ordex commented on #133
Hi @zaza42 , thanks a lot for your bug report! I just tried myself and I could easily reproduce the issue.
I will try to see where the bug is coming from. Thanks for testing 2.14 too!

[2017-10-19 16:55] ordex commented on #133
Apparently I introduced the bug with 452e51ea223132c52694e40a8e27108e1600f90c
There must be something weird going on .. because the --quiet argument should have no effect on that code.

[2017-10-19 18:23] ismaell commented on #133
I'm seeing the source of the bug.

[2017-10-19 18:40] #133 closed

[2017-10-19 23:50] ordex commented on #133
super! @zaza42 if you want, you could test the master branch to ensure the issue is gone for you

[2017-10-20 10:48] zaza42 commented on #133
Ok, the bug has gone away. Thanx for instant patching!

[2017-10-21 08:52] S-Aarab opened #134 "Axel fails to download with option --quite"
Axel fails to download files if you used with one of:
-  '--quiet' option.
- 'verbose = 0' in config file.
- 'verbose = -1' in config file.

[code]
[code]
[code]
[code]
[code]

[2017-10-21 08:54] ismaell commented on #134
Duplicate of #133

[2017-10-21 08:54] #134 closed

[2017-10-28 05:31] ordex commented on #120
Gentoo done finally ..

[2017-10-28 10:21] eribertomota commented on #120
Good!

2017-10-28 3:31 GMT-02:00 Antonio Quartulli <notifications@github.com>:

[2017-11-18 19:03] vmiheer commented on #108
I guess https://chocolatey.org/packages/axel is already there?

[2017-11-18 19:35] FnordMan commented on #108
Note how it says the last update was 6/26/2014, aka: that one's very out of date.

[2017-11-25 08:52] ilovezfs opened #136 "Mac OS X build failure for 2.16+"
[code]

https://gist.github.com/ilovezfs/5f0be9685d458d59658955681cac67f2

By contrast, 2.15 builds fine.

[2017-11-25 15:44] ismaell commented on #136
It's probably commit f8382681b870417b3035bcb6b47885599c058cba. Would you mind to check that?

What does macOS require for it to work with `_POSIX_C_SOURCE` defined?

[2017-11-26 12:19] ilovezfs commented on #136
Yes that is the offending commit. You also need to define `_DARWIN_C_SOURCE`. See https://boringssl.googlesource.com/boringssl/+/63a0797ff247f13870b649c3f6239d80be202752

[2017-11-27 03:41] ismaell commented on #136
It's a platform bug, so it should be handled by the configure script.

[2017-12-05 12:01] eribertomota opened #137 "FTBFS in 2.16.1 version"
Hi,

On Debian, the version 2.16.1 fails to build from source:

[code]

I attached a full log.

Cheers,

Eriberto

[axel_2.16.1-1_amd64.build.zip](https://github.com/axel-download-accelerator/axel/files/1531021/axel_2.16.1-1_amd64.build.zip)

[2017-12-05 12:43] ismaell commented on #137
Switch to the release tarballs. I already made a case against using the repo directly in a private email thread...

Even if you fix the dependency, keep in mind what I previously said: if build environments were to differ, even minimally, it could produce a non-reproducible build. This is an issue for any non-self-contained buildsystem.

[2017-12-05 19:06] eribertomota commented on #137
Debian always use a clean jail (created for each build). Now, Axel uses pkg-config and it was not in build dependencies inside Debian package. It was producing the error message "PKG_PROG_PKG_CONFIG: command not found". Can you add a friendly message in check for 'pkg-config' presence in configure.ac to help the users?

After some tests, I think that release tarball is not proper for Debian. There

[2017-12-05 19:17] eribertomota commented on #137
I just uploaded axel to Debian. Thanks.

[2017-12-06 19:44] ismaell commented on #137
Repeat-ability aside, running `autoreconf` shouldn't fail from the release tarball because the required `m4` files are bundled by Automake's `dist` target automatically.

[2017-12-10 08:04] sijad commented on #2
is it a good idea to use a library like https://github.com/darkk/redsocks?

[2017-12-10 08:13] ordex commented on #2
I think it would be much better to avoid adding other dependencies unless strictly required. Don't you think it is possible to implement basic socks support without a library?

[2017-12-10 08:56] sijad commented on #2
I'm not sure, I can tell you after reading http://www.rfc-editor.org/rfc/rfc1928.txt

[2017-12-12 19:38] eribertomota commented on #137
I just uploaded axel to Debian. Thanks.

[2017-12-12 19:50] eribertomota commented on #137
What you think about to add a message inside README to warning that pkg-config is a build dependency?

[2017-12-13 11:43] ismaell commented on #137
Done.

[2017-12-21 09:31] Blue-Skies-firststar opened #138 "axel download result [256]"

[2017-12-21 09:35] Blue-Skies-firststar commented on #138
when I want to download https file by alex 2.4 for centos6.8 but  result [256]

[2017-12-24 14:06] Kream opened #139 "Add HTTP(S) authentication"
I should be able to pass a username and password to axel to download files that are protected by HTTP(S) authentication

[2017-12-28 03:57] ismaell commented on #139
Doesn't it work to include the credentials in the URL?

[2017-12-28 04:07] ismaell commented on #138
Current Axel version is 2.16.1. We can't support HTTPS in older versions.

[2017-12-28 04:13] #137 closed

[2017-12-29 01:23] Blue-Skies-firststar commented on #138
it  works ,thank you very much

[2017-12-29 01:23] #138 closed

[2018-01-01 02:30] fuzihaofzh opened #140 "32679 segmentation fault (core dumped) axel -n 20"
Hi
I use `axel -n 20 https://dumps.wikimedia.org/enwiki/20171220/enwiki-20171220-pages-articles.xml.bz2` and get:
`32679 segmentation fault (core dumped)  axel -n 20`
It seems some bugs here.

[2018-01-01 06:52] junaid-ali opened #141 "Building v2.6 on Ubuntu 16.04"
The latest axel version available on Xenial is v2.5-2
[code]
This version doesn't support SSL/TLS.

While building v2.6 from source code, there was an issue with aclocal command:
`aclocal-1.14: command not found`

In 16.04, aclocal's installed version is 1.15
[code]

To **workaround** this issue, I had to update `line#2261` in `configure` file so that `am__api_version` points to `1.15` instead to

[2018-01-01 12:37] ordex commented on #140
I can't reproduce it here. Does it happen all the time?

[2018-01-01 12:38] ordex commented on #141
that is extremely old.
The latest version available is 2.16.1. Have you tried compiling that one from source?

[2018-01-01 13:21] junaid-ali commented on #141
I tried with master but there were errors. I will look into building with 2.16.

[2018-01-01 13:28] maplewizard commented on #140
@ordex  Yes, I compile axel locally. Do you think that it was caused by some wrong version of the dependencies?

[2018-01-01 13:33] ordex commented on #140
can't exclude that. If you are compiling axel yourself, would you be able to compile it with debug symbols enabled and run it inside gdb ?

[2018-01-01 13:56] maplewizard commented on #140
Hi, the backtrace is shown as follow, could you please help to find the problem?
[code]

[2018-01-01 14:00] ordex commented on #140
just to be sure, are you running master or 2.16.1 ?

[2018-01-01 14:02] maplewizard commented on #140
I tested both and they both failed. This log is from 2.16.1.

[2018-01-20 11:38] belzhong opened #142 "Downloads stall when reach 100%"
I tried to download a zip file with following command:

axel -a -n 10 'https://www.baidupcs.com/rest/2.0/pcs/file?method=batchdownload&app_id=250528&zipcontent=%7B%22fs_id%22%3A%5B941711848324918%2C264431374209608%5D%7D&sign=DCb740ccc5511e5e8fedcff06b081203:JHOyMEu8iTpnUMJbZxGZenUt2nA%3D&uid=3996925267&time=1516533401&dp-logid=459293403251711703&dp-callid=0&vuk=3996925267&zipname=%E3%80%90%E6%89%B

[2018-01-24 07:33] ordex commented on #142
Hi, can you reproduce this with another Link? I don't want to download illegal material for a test

[2018-01-26 13:36] imeilige opened #143 "default download path"
How to set the default download path, such as / Users / xxx / Downloads

[2018-01-26 14:01] ordex commented on #143
Hi, I am sorry but axel does not support "default download paths". It just downloads to the current directory or to a specific file that you indicate with the related option.

[2018-01-26 15:07] belzhong commented on #142
@ordex axel -a -n 10 'https://www.baidupcs.com/rest/2.0/pcs/file?method=batchdownload&app_id=250528&zipcontent=%7B%22fs_id%22%3A%5B1012261154866200%2C18431103870303%5D%7D&sign=DCb740ccc5511e5e8fedcff06b081203:0APPSTYIlsjhS8VCtUS16obgf3U%3D&uid=3996925267&time=1517065505&dp-logid=602129127326553140&dp-callid=0&vuk=3996925267&zipname=%E3%80%90%E6%89%B9%E9%87%8F%E4%B8%8B%E8%BD%BD%E3%80%911%E7%AD%89.z

[2018-01-26 21:37] ismaell commented on #143
@imeilige you just need to change to the desired directory first, maybe running it in a sub-shell, like this:

    (cd /Users/xxx/Downloads && exec axel ...)

[2018-01-26 21:37] #143 closed

[2018-01-26 21:40] ismaell opened #144 "Axel messes up after double redirection"
* URL: http://www.djangoproject.com/download/2.0.1/tarball/
* 1st Redirection: https://www.djangoproject.com/download/2.0.1/tarball/
* 2nd Redirection: https://www.djangoproject.com/m/releases/2.0/Django-2.0.1.tar.gz

* curl/wget:
    HTTP/1.1 301 Moved Permanently
* axel:
    HTTP/1.1 404 Not Found

The second redirection URL is fine, something in between gets axel confused.

[2018-01-26 21:42] ismaell commented on #144
`curl` session:
*   Trying 146.20.110.22...
* TCP_NODELAY set
* Connected to www.djangoproject.com (146.20.110.22) port 80 (#0)

< HTTP/1.1 301 Moved Permanently
< Server: nginx
< Date: Fri, 26 Jan 2018 21:33:56 GMT
< Content-Type: text/html
< Content-Length: 178
< Connection: keep-alive
< Location: https://www.djangoproject.com/download/2.0.1/tarball/

[2018-01-26 21:56] ismaell commented on #141
@junaid-ali please try 2.16.1 and file a new bug report if you find any problems.

[2018-01-26 21:56] #141 closed

[2018-01-26 22:06] ismaell commented on #136
@ilovezfs would you mind to provide a test case for the configure script? AFAIK no one involved has access to a Mac.

[2018-01-31 01:45] smoothdvd commented on #142
I met this problem also: axel -n 20 https://az792536.vo.msecnd.net/vms/VMBuild_20150916/Vagrant/IE11/IE11.Win7.Vagrant.zip

[2018-02-01 03:23] belzhong commented on #142
@smoothdvd you can try to unzip the file, it **may be** work, to me, some file are complete, but others are corrupted

[2018-02-01 12:37] RedactedCode opened #145 "No 'configure' in cloned repo"
I'm used to getting source from github & compiling it for my distro (Puppy Linux)

I've just done 'git clone https://github.com/axel-download-accelerator/axel.git' but
'configure' is not included in the cloned repo and it isn't in the zip file if I download that.

The INSTALL doc explicitly states that './configure' should be run (like with almost any other package) before 'make'.

[2018-02-01 13:18] ordex commented on #145
As reported in the README

[2018-02-01 13:18] #145 closed

[2018-02-06 16:59] ismaell commented on #144
Excellent.

[2018-02-11 18:40] #144 closed

[2018-02-16 06:27] shankar opened #147 "Axel downloads only the first url content when using input from stdin"
**Steps to reproduce this issue:**
[code]
Notice how the urls in lines other than first have been completely ignored. This happens to the subsequent urls too.

[2018-02-16 15:16] g112wdh commented on #142
I met the same problem.  ( kali linux  axel 2.16.1 from apt-get install )
when I Ctrl C to canceled  and restart the command to continue
there is 1 byte cannot download.
the zip or rar CRC error

[2018-03-07 04:16] aeeq opened #149 "cygwin configure error"
`This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by axel configure 2.16.1, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure

## --------- ##
## Platform. ##
## --------- ##

hostname =
uname -m =
uname -r =
uname -s =
uname -v =

/usr/bin/uname -p =
/bin/uname -X

[2018-03-10 09:51] sebix commented on #120
You can tick openSUSE off, I'm the maintainer there and 2.16 is current there. (2.16.1 does not have relevant changes according to the changelog)

[2018-03-12 02:47] ordex commented on #120
Glad to hear that!

[2018-03-18 21:18] fornwall opened #150 "Support Android which lacks pthread_cancel()"
The Android libc lacks `pthread_cancel()`.

[Termux](https://termux.com) does now have an axel package contributed by @Hax4us in https://github.com/termux/termux-packages/pull/2248, which simply replaces `pthread_cancel` with `pthread_kill`.

I don't know anything about axel, so I wonder:

(1) Does the patch used in the Termux package make sense?
(2) Could support for building axel on Android (by

[2018-03-19 01:00] ordex commented on #150
hi @fornwall and thanks for opening this ticket. It makes sense to support Android directly in our codebase, especially since the required change is so small.

Maybe we could ask @Hax4us to send a patch to us directly?

@ismaell what do you think about using `pthread_kill` instead of `pthread_cancel` only for android? It should be reasonable, no?

[2018-03-19 07:35] ismaell commented on #150
@fornwall @ordex The proper way to make it build would be to provide implementations for the missing functions, which would do the same without requiring edits to the code nor `#ifdefs`, then conditionally include a header file containing those wherever there's a `#include <pthread.h>`.

[2018-03-19 07:37] ordex commented on #150
that would be the ideal fix upstream and normally Android takes care of that in its NDK, but apparently there is nothing for this function.

[2018-03-19 07:40] ismaell commented on #150
Something like the following in the header file, let's call it `"android-compat.h"`:

    int pthread_cancel(pthread_t h) {
            return pthread_kill(h, 0);
    }
   ...

Then run:

    sed -i '/^#include <pthread[.]h>/a#include "android-compat.h"' src/axel.h

[2018-03-19 07:42] ordex commented on #150
that would remove all the pthread.h inclusions, no? but we need to do that only when compiling for Android

[2018-03-19 07:50] ismaell commented on #150
I'll create a branch for it, and let's wait some feedback.

[2018-03-19 08:02] ismaell commented on #150
It's in branch `android-compat` now: https://github.com/axel-download-accelerator/axel/commit/411629ff2a7c8b1d896c62d0c09cd5b8e2e1ff67

We could do it better and add a signal handler to emulate an async pthread_cancel...

[2018-03-19 14:31] Hax4us commented on #150
Can we do something like this
`
if ( (status = pthread_kill(pthread_id, SIGUSR1)) != 0)
{
printf("Error cancelling thread %d, error = %d (%s)", pthread_id, status, strerror status));
}

USR1 handler:

struct sigaction actions;
memset(&actions, 0, sizeof(actions));
sigemptyset(&actions.sa_mask);
actions.sa_flags = 0;
actions.sa_handler = thread_exit_handler;
rc = sigaction(SIGUSR1,&actions,NULL);
v

[2018-03-19 14:35] ismaell commented on #150
@Hax4us indeed.

Would you mind to make a patch?

[2018-03-20 03:19] weiwangthu opened #151 "Can not download large files"
When I use axel to download  a large file with 12GB, it only downloads 2GB.

[2018-03-20 10:22] ismaell commented on #151
Hi @weiwangthu,

How does it exactly fail?

[2018-03-20 14:21] Hax4us commented on #150
I hope it will help you
1) **workaround**
https://github.com/Hax4us/Hax4us.github.io/blob/master/Pthread_patches/apthread.h
2) **workaround**
https://github.com/Hax4us/Hax4us.github.io/blob/master/Pthread_patches/Bpthread.h

3) I have one more workaround basically it will not add any new header file. I will just add handler in Axel.c same as 2 workaround and this :

`if defined(__ANDROID__)
	pthre

[2018-03-24 12:49] S-Aarab opened #152 "failed to extract filename from the Content-Disposition header"
axel (version 2.16.1) exit with this error when I try to download a file that its header include the **Content-Disposition** field.
[code]
this how the headers look like:
[code]
I think this happens because the line responsible for extracting the filename from the **Content-Disposition** header doesn't match all cases,

[code]
it matches only this pattern:
`Content-Disposition: filename="test.txt"

[2018-03-26 07:33] denji opened #153 "The 'AM_PROG_MKDIR_P' macro is deprecated"
`autoreconf -i`

configure.ac:92: warning: The 'AM_PROG_MKDIR_P' macro is deprecated, and its use is discouraged.
configure.ac:92: You should use the Autoconf-provided 'AC_PROG_MKDIR_P' macro instead,
configure.ac:92: and use '$(MKDIR_P)' instead of '$(mkdir_p)'in your Makefile.am files.

[code]

[2018-03-26 07:46] #153 closed

[2018-03-26 09:54] ismaell commented on #152
It shouldn't fail to match that. Would you mind to trace it with `strace`?

[2018-03-26 17:25] S-Aarab commented on #152
I did install **lighttpd** on my machine for testing.
this is how the headers looks like:
[code]
the tests results:
[code]
I think the probleme is in the way the URL splited in `conn_set` function in `src/conn.c` file !
non of the tests use the filename from the **Content-Disposition** field as a name for the output file.
I still think that the code for extracting the filename from Content-Disposi

[2018-03-26 18:39] ismaell commented on #152
It's not even hitting the path that parses the `Content-Disposition`.

[2018-03-29 21:50] ismaell commented on #150
@Hax4us I like patch B, please submit a pull request with it.

[2018-03-30 14:48] thejustsoul commented on #108
Any progress on this?
Looking for a Windows version or a manual how to build manually. There is an old 2.4, but would like the latest..

[2018-03-30 15:10] ismaell commented on #108
This *will not happen* in the near future; significant redesign is required. It is planned, but at this moment I don't have time to code (unpaid, I mean), and it will remain so for several months.

[2018-03-30 16:26] boostermbkking opened #154 "how to update axel?"
there are any way to update axel from terminal to latest version?? thanks #

[2018-03-30 22:01] ismaell commented on #154
That's up to your OS.

[2018-03-30 22:01] ismaell commented on #154
It's never up to the application, that would be terrible.

[2018-03-30 22:50] FnordMan commented on #108
Note for anyone else interested: the Linux version runs great under the Windows Subsystem for Linux stuff, i've got a Ubuntu install i've been using it under.

[2018-03-31 07:00] shankar commented on #152
@ismaell I may be wrong but I believe the bug doesn't have anything to do with `Content-Disposition` .

 The bug seems to be in parsing the url to get the filename since it starts with a cgi parameter `?` . The [code here](https://github.com/axel-download-accelerator/axel/blob/8e0ac02ce825c5df75ace7a8399d87ccaada3f9d/src/axel.c#L149) seems to simply remove the cgi parameter with anything after it

[2018-03-31 19:37] ismaell commented on #152
@shankar indeed, seems like the right solution. Do you mind submitting a pull request with the fix?

[2018-04-01 13:07] shankar commented on #152
@ismaell Done. I have not referenced this issue in the commit message because i doubt it completely fixes the issue here. Let me know if i should. Thanks

[2018-04-01 14:51] S-Aarab commented on #152
It's working now. and it's use the filename from the Content-disposition header.
the header I was using in my test before `Content-Disposition: filename=test.mp4` was wrong [rfc2183](https://tools.ietf.org/html/rfc2183),
I didn't notice that. I'm terribly sorry :(
[code]

[code]
I did the test again

[code]
good job @shankar and thank you @ismaell for patience and understanding.

[2018-04-01 16:21] #154 closed

[2018-04-01 16:32] ismaell commented on #149
Seems standard C headers are missing. Did I read it correctly?

[2018-04-05 07:45] shankar commented on #131
@ismaell looks like `Content-MD5` header has been deprecated as per [rfc7231](https://tools.ietf.org/html/rfc7231#appendix-B)

[2018-04-05 09:05] ismaell commented on #131
@shankar thanks for pointing that out, I see that the inconsistencies with regard to partial requests could be a serious issue for us...

[2018-04-23 19:35] sarim opened #157 "Improve error message on unsupported URL scheme"
shouldn't it fail and output an error?

[2018-04-24 01:09] ismaell commented on #157
Yes, probably...

Patches are welcome.

[2018-04-24 06:53] shankar commented on #157
It works as intended for me and i have configured and compiled axel from git head with `--without-ssl` option.
[code]
It throws `Could not parse URL` error cuz the block parsing https and ftps protocols [here](https://github.com/axel-download-accelerator/axel/blob/1d555e7054e70ad5a8ab8457073982f02807127c/src/conn.c#L73) is not compiled.

[2018-04-24 10:59] shankar opened #158 "Too many redirects error when redirected to https only in axel compiled without ssl"
Axel, when compiled without ssl and passed a http url argument that redirects to a https url, exits with `Too many redirects.` error.

### Steps to reproduce the bug:
Configure axel with `--without-ssl` option and compile.
[code]

_Curl output to get an idea of the redirections :_
[code]

[2018-04-24 11:26] shankar commented on #158
@ismaell I have an idea on where the bug exists, please correct me if i am wrong.

I believe when `conn_set()` fails [here](https://github.com/axel-download-accelerator/axel/blob/73bf7ab3d7a560b728420092a7a6aabaeea986c1/src/conn.c#L355), the value of `conn` remains the same url instead of the redirected url and `conn_exec()` is performed on the same url till max redirects limit is reached, and the

[2018-04-24 12:24] shankar commented on #158
On further perusal i believe presence or absence of SSL support in axel should not have any influence on parsing a well made URL as done [here](https://github.com/axel-download-accelerator/axel/blob/73bf7ab3d7a560b728420092a7a6aabaeea986c1/src/conn.c#L73) in `conn_set()` function.

Instead it can be elegantly handled after parsing it in `conn_set()` by testing `conn->proto` for secure protocol lik

[2018-05-24 08:56] pythonwood opened #161 "problem while giving agent header with -H 'User-Agent: XX'"
axel -n 10 'http://127.0.0.1/xxxxx' -o /tmp/a.mp4 -vv -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.9 Safari/537.36' -H 'Referer: https://pan.baidu.com/s/xxxxxxx'

got 2 user-agent header

![_2018-05-24_16-56-06](https://user-images.githubusercontent.com/5157880/40475159-6fb2f044-5f73-11e8-878e-1f8db925076a.png)

[2018-05-25 13:39] ismaell opened #163 "Streamlining the translation process"
Add the project to https://translationproject.org/

[2018-06-09 12:36] saeedsafavi26 opened #164 "get whole files on ftp using axel"
hi guys!
is there any way or switch to download whole files on a ftp server?
for example:
axel ftp://user:pass@ipaddress/*

[2018-06-12 21:56] ballsystemlord opened #165 "Returns 141 at 1% downloaded"
I wanted a copy of some talks and, realizing that they were on multiple sites (and that single server downloading stinks for me), I tried to use axel to do the job (data preparse with curl included).
[code]
[code]
[code]

Thanks!

[2018-06-12 21:59] ballsystemlord commented on #165
I had the presence of mind to increase the verbosity...

`File size: 163437586 bytes
Opening output file mrmcd17-40-eng-FPGA_design_with_Free_Software_The_Lattice_iCE40_HX1K_HX8K_FPGA_hd.mp4
Starting download
Connection 0 downloading from mirror.netcologne.de:443 using interface
Connection 1 downloading from koeln.ftp.media.ccc.de:443 using interface
Connection 2 downloading from berlin-ak.ftp.med

[2018-06-21 15:04] ismaell commented on #157
@shankar it's probably an older version. The error message could be improved though.

[2018-06-21 15:06] ismaell opened #166 "Ignore URLs with error status codes"
We shouldn't fail unless all URLs return an error.

[2018-06-21 15:13] ismaell opened #167 "Parse ftps/https schemes even without SSL support"
https://github.com/axel-download-accelerator/axel/blob/73bf7ab3d7a560b728420092a7a6aabaeea986c1/src/conn.c#L73

[2018-06-21 15:15] ismaell commented on #158
@shankar your reasoning seems right.

Please note:

- The guard in the URL you mentioned prevents us from using `PROTO_IS_SECURE` without `HAVE_SSL`; that could be fixed, though.
- We should avoid `#ifdefs` in the future outside the realm of header files, so it could be:

    if (!HAVE_SSL && PROTO_IS_SECURE(conn->proto)) {
    ...

[2018-06-21 15:16] ismaell commented on #158
The reason to avoid `#ifdefs` is that the code gets compiled and verified even if optimized-out, so we guarantee consistency.

[2018-06-21 15:24] ismaell commented on #164
We don't support that directly, but it could be added, both for HTTP (links) and FTP.

Support would require for:

1. find the next wildcard in the URL
1. fetch the prefix / directory
1. match against the wildcard
1. append the remaining of the URL to the results and feed back them as input URLs

[2018-06-30 10:48] riwogo opened #168 "How can I give a files of urls to axel"
I have a file like:

 url2
url3
.
.
.

and I want to give it to axel to download them in a queue how can I do that?

[2018-07-03 01:59] aleao-sl commented on #168
How about
cat file.urllist.txt | xargs axel -n 15 -q

[2018-07-08 08:36] sarim commented on #157
Sorry for late response. I installed axel from apt-get from ubuntu 14.04 repo and that version was silently converting https to http. I later cloned the master branch and didn't have any problem with that version.

[2018-07-26 07:06] linzx0403 opened #169 "IPv6 Support"
If ip field in url is IPV6 , axel would parse url fail.

[2018-07-26 07:12] linzx0403 opened #170 "http redirect to https use multi-threads, can not finished download"
If download a url ,but redirect to https,  start multi threads to download, it can't finished, always show 99%

[2018-07-26 07:42] linzx0403 opened #171 "if source cache file is zero, axel can not download"
If source cache file size is zero, axel can not download

[2018-07-27 17:20] zusrt opened #172 "Version 2.16.1 src/text.c in print_alternate_output(axel_t *axel)"
//width 40 to 41  30 to 31 for cursor
static void
print_alternate_output(axel_t *axel)
{
	long long int done = axel->bytes_done;
	long long int total = axel->size;
	double now = gettime();
	int width = get_term_width();
	char *progress;

	if (width < 41) { //40 to 41
		fprintf(stderr,
			_("Can't setup alternate output. Deactivating.\n"));
		axel->conf->alternate_output = 0;

		return;
	}

	width

[2018-08-01 13:31] centminmod opened #173 "axel 2.16.1 download issues = Connection gone while writing ?"
One of my users has issues downloading nginx tarball via axel on CentOS 7 and was wondering how to debug this https://community.centminmod.com/threads/can-t-upgrade-to-nginx-1-15-2.15306/

they get `Connection gone while writing` error when they do

[code]

if they try https download

[code]

[code]

the user doesn't have any problems downloading via wget though

[code]

but I am not having issues

[2018-08-04 18:34] shankar commented on #167
I was thinking that there could be something like a "insecure mode" when ssl support is absent, where parsing of ftps/https schemes and downloading from the url works without checking for certificates.
like `--no-check-certificate` option in wget.

[2018-08-23 18:34] braco opened #174 "-n ignored and download stalls"
Might be related to
https://github.com/axel-download-accelerator/axel/issues/57
and
https://github.com/axel-download-accelerator/axel/issues/142

[code]

**Hangs indefinitely**

[code]

[2018-08-30 15:39] ismaell commented on #167
We should just output an error, perhaps a suggestion about using `--insecure`, and fail, and if `--insecure` is used, fall back to http/ftp.

[2018-09-06 01:48] EugeneJao commented on #142
i also met this problem: axel -av  -o ./axel_downloads  https://az792536.vo.msecnd.net/vms/VMBuild_20180102/VirtualBox/IE11/IE11.Win7.VirtualBox.zip

[2018-09-06 14:52] Fangyh09 opened #175 "Which version solve "too many redirects"?"
Hi, I wanna know which version solve "too many redirects"?
I tried 2.16.1, 2.11, both of them failed.
Btw, where should I mainly focus on if I want to fix this bug?

[2018-09-06 14:57] ordex commented on #175
please, target the master branch

[2018-09-06 15:08] Fangyh09 commented on #175
Okay

[2018-09-06 15:08] #175 closed

[2018-09-17 21:58] EduFrazao opened #176 "HTTP Post Data"
Its possible to send HTTP PostData with axel? I didn't find anything about it in man pages.
Thanks.

[2018-09-18 15:11] ismaell commented on #176
On 17/Sep/2018 14:59, Eduardo Frazão wrote:

It doesn't support methods other than GET, but patches/bounties are welcome.

[2018-09-27 21:35] FFY00 opened #178 "Unicode support"
Is it possible to add unicode support? Something like https://github.com/mustafaturan/axel#branch-unicode-progressbar

[2018-10-04 15:59] ismaell commented on #178
Patches welcome.

[2018-10-04 16:16] ismaell commented on #173
can you provide a trace of the communication?

[2018-10-07 08:53] krypticallusion opened #179 "subprocess"
Hey!

I'm been using axel on terminal for a very long time and it worked as expected.

But someone while I was doing by python script and used subprocess to trigger axel, the download speed became very slow.

Code :

`args =  [axel, url]
cmd = subprocess.Popen(args, stdout=subprocess.PIPE)`

[2018-10-07 08:53] krypticallusion commented on #179
Speed decrease was almost 10x lower than actual Speed given through terminal.

[2018-10-10 14:16] ismaell commented on #179
Nothing to do with axel, you're not reading fast enough from the pipe.

[2018-10-10 14:16] #179 closed

[2018-10-10 14:17] ismaell commented on #179
You can increase the buffer size if you can't read faster.

[2018-10-15 04:32] pankajanand18 commented on #168
the above mention solution provided by @aleao-sl looks good to me. Probably we should close this bug.

[2018-10-15 16:06] #168 closed

[2018-10-17 22:07] RedactedCode opened #180 "README says use "./configure" but no ./configure after cloning"
After git clone https://github.com/axel-download-accelerator/axel.git , the source appears to be lacking one vital thing for compilation: configure (there is a configure.ac)

The readme says build with ./configure && make && make install like every other readme.

So README needs updating to say that ./autogen.sh needs to be run first to create ./configure

directory listing looks like this:
-rwxrw

[2018-10-22 19:22] ismaell commented on #180
Use the release tarballs; you're not supposed to use the repo directly unless doing development.

[2018-10-22 19:22] #180 closed

[2018-10-22 19:31] ismaell commented on #157
@sarim you need to open a bug against the distribution,so that they patch or upgrade the package. We can't do much from this project other than recommend you to compile it from sources.

[2018-10-22 19:31] #157 closed

[2018-10-22 19:31] ismaell commented on #172
Needs explanation.

[2018-10-25 18:17] shankar commented on #158
@ismaell if we compile with `--without-ssl` option , `HAVE_SSL` macro would not be defined and
[code]
would not compile. Please advice

[2018-10-25 18:20] shankar commented on #158
And also i have been thinking about what i said about handling secure protocol outside `conn_set()`  when SSL support is absent. I was wrong.
Since we would have to handle secure protocol everytime `conn_set()` is called, we might as well have it within `conn_set()`, the way it has already been done.

[2018-10-25 19:28] shankar commented on #158
@ismaell here is my patch to fix the issue ( i have taken the liberty to improve error message)
[code]
Did it do it right ? do i need to make changes ?

[2018-10-26 07:05] jotline commented on #140
It seems a bug for 2.16.1, when  I  am running in version 2.10, then everything works fine.

[2018-10-31 09:00] shankar commented on #171
@ismaell @linzx0403 i cannot understand what "source cache file size" means . Is it the value of `Content-Length` header ? if it is, according to [RFC 7230 section 3.3.2: Content-Length](https://tools.ietf.org/html/rfc7230#section-3.3.2) the value cannot be `0`

[2018-11-01 11:04] shankar commented on #165
@ballsystemlord thank you for submitting the issue. 141 return value is definitely exit due to SIGPIPE signal. Looks like it hasn't been handled.
@ismaell is ignoring the signal the right way to handle it ?
[code]

[2018-11-11 06:12] shivampatel887 opened #182 "is development Active"
not releasing any new version for over a year.

Is development active ???

[2018-11-11 22:45] ismaell commented on #182
Just a busy year, a new release will happen soon.

[2018-11-11 22:45] #182 closed

[2018-11-26 19:57] romanos commented on #151
@ismaell I'm having the same problem. It doesn't fail, it just only pulls the first 2GB of any large file. Shows all progress indicators based on 2GB file size and completes "successfully" after downloading 2GB. Some kind of 32-bit limit somewhere? I'm not sure. I've tried with multiple files, each of them over 100GB, so perhaps it's causing a problem somewhere.

[2018-12-09 05:06] MasterCATZ commented on #142
I seem to be having the same problem

when a connection finishes axel starts hogging all my ram and I have to ctl+c for it to continue

`[ 78%]  .......... .......... .......... .......... .
Connection 2 finished
        ,,,,,,,,,, ,,,,,,,,,, ,,,,,,,,,, ,,,,,,,,,, ,.....
Connection 6 finished
        ,,,,,,,,,, ,,,,,,,,,, ,,,,,,,,,, ,,,,,,,,,, ,,,,,,^C
Downloaded 42.5 Megabyte in 8:48 minute(s). (

[2018-12-16 19:14] charlespax opened #184 "WINGCH not handled in the progress indicator"
I'm running `axel`  2.16.1 on Linux Mint 19.1. The download progress is streamed to my terminal window as a new line for each update. Is this normal behavior? It seems unnecessary, but maybe I'm missing something.

Example:
[code]

I like the progress indicator when using `wget` as it keeps updating the same line. Is there interest in having this type of progress rather than the streaming progress

[2018-12-18 04:56] GongSiqiu opened #185 "Longer URL length"
Is it possible to support longer URL length?
When I download some files with long URL, axel just says it doesn't support URL longer than 1024 bits
![axel](https://user-images.githubusercontent.com/40697840/50132884-3060b300-02c4-11e9-981d-37a5109904c8.png)

[2018-12-18 18:12] shankar commented on #185
Yes, that would be possible but will take some effort to convert code using specific array size to dynamic allocation using malloc.

[2018-12-27 13:20] tkasarla commented on #151
@romanos even after building from source, it still fails for 5gb file I'm trying to download. It only downloaded 1.7gb and completed "successfully".

Do you have any idea how to fix this?

[2018-12-27 14:36] romanos commented on #151
It fixed for me after installing latest version from source. I don't know what version that was offhand. (On mobile)
On Dec 27, 2018, 3:20 PM +0200, Tejaswi Kasarla <notifications@github.com>, wrote:

[2018-12-27 15:35] tkasarla commented on #151
@romanos installed latest version now. It works! Thank you.

[2018-12-28 02:18] charlespax commented on #184
Cool. That works much better. Here is what I'm seeing;

[code]

However, if I resize the terminal I get this:
[code]

[2019-01-04 03:18] shijiantian opened #186 "HTTP/1.1 500 Internal Server Error on ubuntu18.04"
**Axel version **info****
Axel version 2.16.1 (Linux)
Copyright 2001-2007 Wilmer van der Gaast,
	  2007-2009 Giridhar Appaji Nag,
	  2008-2010 Philipp Hagemeister,
	  2015-2017 Joao Eriberto Mota Filho,
	  2016-2017 Stephen Thirlwall,
	  2017      Ismael Luceno,
	  2017      Antonio Quartulli,

**My system info**
OS: Ubuntu 18.04 bionic
Kernel: x86_64 Linux 4.15.0-43-generic

**Error info**
axel -

[2019-01-12 15:05] abhins opened #187 "buggy axel_divide() in axel.c"
the logic to calculate the offsets of currentbyte and lastbyte is buggy. There is no concept of stopping the calculation of the offsets and it goes beyond the filesize. 

filesize = 107, num connections = 20

Downloading 0-4 using conn. 0
Downloading 5-10 using conn. 1
Downloading 11-16 using conn. 2
Downloading 17-22 using conn. 3
Downloading 23-28 using conn. 4
Downloading 29-34 using conn. 5
Do

[2019-01-13 06:19] abhins opened #188 "pthread_cancel called without NULL check"
I am facing a lot of crashes in pthread_cancel call. When I debugged it was found that the function is being called with (0) as a parameter; if I made a fix as below to calls to pthread_cancel, I am not seeing any further crashes.

if (NULL != *axel->conn[i].setup_thread)
    pthread_cancel( *axel->conn[i].setup_thread );

[2019-01-13 07:24] abhins opened #189 "deleteing thread 0 without creating it"
this line is the culprit

axel->conn[0].lastbyte = axel->size / axel->conf->num_connections - 1;

in file axel.c function axel_divide.

If the current file size is less than the number of connections, then axel->conn[0].lastbyte = -1 and
axel->conn[0].currentbyte = 0

so while creating pthreads in below code
[code]
 connection 0 pthread will be skipped but while deleting there is no such check ; h

[2019-01-14 08:44] #189 closed

[2019-01-14 08:44] #188 closed

[2019-01-14 18:10] abhins commented on #187
#191 @ismaell please comment

[2019-01-28 16:34] umayrh opened #192 "axel 2.15 and --quiet: redux"
The issue previously described in #133 seems to have returned:

[code]

Using Axel version 2.15 (Darwin) but can also reproduce on a Trusty Travis container.

Happy to provide more information.

[2019-01-29 04:45] dashixiong1018 opened #193 "l"

[2019-02-05 20:47] #193 closed

[2019-02-10 22:10] MikeRich88 commented on #185
RFC7230 says:

Internet Explorer (an example of the lowest common denominator) is said to support URLs of 2048 or 2083 characters (depends on who you ask)

[2019-02-12 11:47] ismaell commented on #185
On 10/Feb/2019 14:10, RIP GitHub wrote:

The length is currently hardcoded in the data structures, we need to use
pointers instead, we could be just taking the URL from the environment
or allocate it in the context of the struct (by adding something to
track the allocations); patches are welcome.

[2019-02-12 12:41] ismaell commented on #192
Invalid report.

Upgrade Axel or at least apply [the fix](https://github.com/axel-download-accelerator/axel/commit/241c0c753b01f4ea1309195fec823382c6824a6d.patch).

[2019-02-12 12:41] #192 closed

[2019-02-12 12:43] ismaell commented on #189
Supersedes: #188

[2019-02-12 13:01] ismaell commented on #186
@shijiantian not related to Axel, it's a server-side error.

[2019-02-12 13:05] ismaell opened #194 "Remove conf->user_agent"
Update the headers directly instead.

[2019-02-12 13:07] ismaell commented on #161
Related: #194

[2019-02-12 14:31] #151 closed

[2019-02-12 14:34] ismaell commented on #171
@shankar It refers to the state file AFAICT.

There's several issues stemming from that code. It should be restructured to do at least basic integrity checks.

[2019-02-12 14:35] ismaell commented on #171
It's impossible to recover the download if the state file is broken, though, so FEC would be a good idea too.

[2019-02-12 15:31] ismaell commented on #142
This should be fixed by PR #191.

[2019-02-12 15:55] ismaell commented on #184
OK, we need to handle `SIGWINCH`.

[2019-02-12 15:55] ismaell commented on #184
Maybe also make `-a` the default when on a tty.

[2019-02-15 16:49] sdfww opened #195 "undefined reference"
I encountered an "undefined reference" error when compiling with Cygwin. It covers all versions after 2.5.
Only gettext v0.19 or higher is available in Cygwin.
Is this the problem and is there a solution?

$ make
make  all-recursive
make[1]: Entering directory `/home/1/axel'
Making all in src
make[2]:  `/home/1/axel/src'
  CC       axel.o
  CC       conf.o
  CC       conn.o
  CC       ftp.o
  CC

[2019-02-15 22:46] ismaell commented on #195
Please provide more information, it sounds like a bug in the configure script. It's finding the headers but not linking against the right library, I'm guessing something assumes the symbols are in the libc.

El 15 de febrero de 2019 17:49:45 GMT+01:00, sdfww <notifications@github.com> escribió:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-02-16 07:05] sdfww commented on #195
OK, This is my configuration:

Cygwin 2.11.2 (64-bit) -- Keep the default installation package
Additional installation package:
pkg-config 0.29.1-1
gettext 0.19.8.1-2
gettext-devel 0.19.8.1-2
libintl-devel 0.19.8.1-2
Autoconf 13-1
Autoconf2.5 2.69-4
Automake
Automake1.15
Automake 10-1
Automake1.15 1.15.1-1
gcc-core 7.4.0-1
make 4.2.1-2
openssl-devel 1.0.2p-1

Building:
$ cd axel-2.16.1
$ ./autogen

[2019-02-16 12:49] ismaell commented on #195
Please attach the config log, it's probably guessing the `LDFLAGS` wrong, on most systems it must contain `-lintl`.

El 16 de febrero de 2019 8:05:37 GMT+01:00, sdfww <notifications@github.com> escribió:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-02-18 17:58] sdfww commented on #195
1@a ~/axel
$ ./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /usr/bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking for pkg-config... /usr/bin/pkg-config
checking pkg-config is at least versi

[2019-02-20 22:51] cullengao commented on #158
hey, any updates?

[2019-03-06 16:08] ismaell commented on #158
@shankar looks good; instead of "secure protocol is not supported" it could say "SSL support disabled".

Send a PR and I'll merge it.

[2019-03-06 16:10] ismaell commented on #195
There's a file named `config.log`, and please use a paste service (e.g.: dpaste.com).

[2019-03-20 21:02] rblaine95 opened #199 "Set output file to stdout"
Is there a way to download with axel but, instead of saving the file downloaded to a file, just print the contents to stdout?

Similar to `wget $url -O-`?

[2019-03-20 21:30] #199 closed

[2019-03-23 01:25] C00kiie commented on #29
This issue is still can be reproduced in version 2.2 (axel --version)

`axel --num-connections 8 --insecure https://download.jetbrains.com/idea/ideaIU-2018.3.5.tar.gz`
I also tried:
`axel --num-connections 8  https://download.jetbrains.com/idea/ideaIU-2018.3.5.tar.gz`

[2019-03-23 20:15] ismaell commented on #29
@C00kiie 2.2 is very old, why are you using that version?

[2019-03-31 03:17] RichardRo opened #200 ""buffer overflow detected" when downloading NPR podcast"
axel -o a.mp3 https://play.podtrac.com/npr-510289/npr.streaming.adswizz.com/anon.npr-mp3/npr/pmoney/2019/03/20190329_pmoney_pmpod903.mp3
Initializing download: https://play.podtrac.com/npr-510289/npr.streaming.adswizz.com/anon.npr-mp3/npr/pmoney/2019/03/20190329_pmoney_pmpod903.mp3
File size: 19194305 bytes
Opening output file a.mp3
State file found: 0 bytes downloaded, 19194305 to go.
Starting do

[2019-03-31 16:10] lesotadil opened #201 "Axel error 403 but curl work"
It weird that i cannot download some link which is return 403 error but when i try curl it does return 200 response?
[code]
[code]

[2019-03-31 16:16] lesotadil commented on #201
Ah never mind, issue was network interface, i grabbed the link from ipv6 so it doesn't work with Axel

[2019-03-31 16:16] #201 closed

[2019-04-02 17:08] ismaell commented on #200
Which version is it? Can you provide a trace?

[2019-04-03 13:40] RichardRo commented on #200
axel -V
Axel version 2.16.1 (Linux)

And attached is the strace file.
[axel_strace.txt](https://github.com/axel-download-accelerator/axel/files/3038916/axel_strace.txt)

[2019-04-05 03:36] thinkycx opened #202 "Does it support to set cookie when download?"
I have seen the manual of it and it seems that it doesn't have this option.

[2019-04-05 06:34] thinkycx commented on #200
Hello， I am interested in this vuln however I failed to reproduce it.
It seems the file size has been changed. Isn't it ?
Could anyone can reproduce it?
@ismaell  @RichardRo

axel version:
[code]
output:
[code]

[2019-04-05 06:35] lalkh commented on #200
I cannot reproduce this crash.
axel -o b.mp3 https://play.podtrac.com/npr-510289/npr.streaming.adswizz.com/anon.npr-mp3/npr/pmoney/2019/03/20190329_pmoney_pmpod903.mp3
Initializing download: https://play.podtrac.com/npr-510289/npr.streaming.adswizz.com/anon.npr-mp3/npr/pmoney/2019/03/20190329_pmoney_pmpod903.mp3
File size: 18929319 bytes
Opening output file b.mp3
Starting download
I got a differen

[2019-04-06 02:53] RichardRo commented on #200
@thinkycx lalkh Thanks guys.
Your outputs are same with mine until "Starting download".
But after "Starting download" and wait for about 20-30 seconds,
there will be output of "
*** buffer overflow detected ***: axel terminated
Aborted
"

Add more information:
uname -a
Linux ubuntu 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
cat /etc/issue
Ubuntu 18

[2019-04-06 03:39] thinkycx commented on #200
I have tried your command on several linux OS, such as:
[code]
However, after waiting for about 1 min, it still hangs. I also use gdb to figure it out and its output is same with you  -- many threads exited.
Maybe it seems that  buffer overflow is not stable? @RichardRo

[2019-04-06 04:55] RichardRo commented on #200
@thinkycx
I can reproduce this on my machine every time after 20-30 seconds.

And add backtrace info:
[Thread 0x7ffff6b8a700 (LWP 11294) exited]
[Thread 0x7ffff5387700 (LWP 11296) exited]
[Thread 0x7ffff6389700 (LWP 11295) exited]
[New Thread 0x7ffff6b8a700 (LWP 11297)]
[New Thread 0x7ffff6389700 (LWP 11298)]
[New Thread 0x7ffff5387700 (LWP 11299)]
[Thread 0x7ffff5b88700 (LWP 11292) exited]
*** bu

[2019-04-06 05:56] lalkh commented on #200
@RichardRo when I use http protocol with this mp3,it can be downloaded successfully,however,when I use https protocol,it hangs on "Starting download"

[2019-04-12 00:44] HapCoderWei commented on #184
Hi @charlespax, I cann't reproduce this bug as resize the terminal on a Mac. Is this bug still exists? I'd like to see more detail, thks
@ismaell If you have fixed this issue, please close it. Thank you

[2019-04-14 02:51] charlespax commented on #184
Still an issue for me. I just cloned the repo and installed from source. Here is my terminal outout:

[code]
...and this would continue throughout the download.

[2019-04-14 03:59] charlespax commented on #184
I poked around the code (not a developer) and I have an idea where the solution will need to be implemented. It's all in `text.c`.

[code]
If I make these two changes, the output is stays on a single line and updates the lines. This is not perfect though; I think the contents of the line are updated too quickly or something like that. It just doesn't look that great. You'd have to see it running,

[2019-04-15 08:34] ismaell commented on #136
@mistydemeo @ilovezfs should I close the issue?

[2019-04-15 08:46] ismaell commented on #136
Example `configure.ac` snippet:
[code]
Altough it would be better to make it local to the files that need it.

[2019-04-17 12:26] ismaell commented on #202
See <https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie>.

[2019-04-17 12:26] #202 closed

[2019-04-17 12:29] ismaell commented on #184
@charlespax use the `-a` flag.

[2019-04-17 12:40] ismaell opened #203 "Handle TTY Size Changes (SIGWINCH)"

[2019-04-17 12:41] ismaell commented on #184
Superseded by #203 .

[2019-04-17 12:41] #184 closed

[2019-04-18 05:44] thinkycx commented on #202
I mean that does axel has the ability to set t cookie when download a file? e.g.
$ axel --cookie "PHPSESSID=298zf09hf012fh2"  -n 10 URL
@ismaell

[2019-04-19 02:26] #187 closed

[2019-04-19 02:28] ismaell commented on #202
@thinkycx you can set the header, so yes; but it doesn't provide any syntactic sugar; patches are welcome.

[2019-04-19 02:37] ismaell commented on #142
Commit 5aac471ad29f71e5d98a89533a6078f216a9777b should fix this too.

[2019-04-19 03:13] #172 closed

[2019-04-19 18:07] #194 closed

[2019-04-19 20:01] #158 closed

[2019-04-21 11:56] Aster-the-Med-Stu opened #204 "Feature Request: Support URLs over 1024"
Well from early versions the limit is there, and I don't know if there is a way to remove this limit to get files from long URLs such as OneDrive share link?

[2019-04-22 17:01] ismaell commented on #204
Duplicate of #185 .

[2019-04-22 17:01] #204 closed

[2019-04-22 17:23] ismaell commented on #142
Reopen if the issues persists.

[2019-04-22 17:23] #142 closed

[2019-04-22 17:26] #169 closed

[2019-04-22 20:01] #173 closed

[2019-05-07 12:33] ismaell commented on #64
Not going to happen, it seems. Re-open if there's interest.

[2019-05-07 12:33] #64 closed

[2019-05-08 01:01] ismaell commented on #147
Looking at the code, it reads one url per dash on the command line... it needs some restructuring.

[2019-05-10 04:23] foutrelis opened #205 "v2.17 segfaults"
Bisects to https://github.com/axel-download-accelerator/axel/commit/5aac471ad29f71e5d98a89533a6078f216a9777b. It looks like `axel->conf->num_connections` gets bumped to 1024 for a 100MB file even though I haven't used the `-n` switch.

The fix might be as simple as:

[code]

[code]

[2019-05-10 09:23] #205 closed

[2019-05-10 09:23] ismaell commented on #205
Thanks!

[2019-05-10 18:03] ismaell opened #206 "Request ranges must be zero-based"
See:
* [src/http.c:191](https://github.com/axel-download-accelerator/axel/blob/master/src/http.c#L191)
* [src/conn.c:368](https://github.com/axel-download-accelerator/axel/blob/master/src/conn.c#L368)

The assumption is embedded in most of the HTTP code.

For some reason this works (?), but is clearly wrong.

The problem is that we encode the fact that it's a range-request in `firstbyte` being non

[2019-05-14 20:57] ismaell commented on #200
Check out v2.17.2.

[2019-05-14 20:57] #200 closed

[2019-05-14 20:59] #178 closed

[2019-05-14 21:00] #120 closed

[2019-05-14 21:01] ismaell opened #208 "Update downstream packages to 2.17.5"
- [x] [Alpine Linux](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [ ] [ALT Linux](http://sisyphus.ru/en/srpm/axel)
- [x] [Arch Linux](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/axel)
- [x] [Buildroot](https://git.buildroot.org/buildroot/tree/package/axel/axel.mk)
- [ ] CentOS
- [ ] [Debian](https://packages.qa.debian.org/a/axel.html)
- [ ]

[2019-05-14 21:01] #139 closed

[2019-05-14 21:09] ismaell commented on #140
This should have been fixed in some of the recent changes to the conn/http code.

[2019-05-14 21:09] #140 closed

[2019-05-14 21:11] ismaell commented on #174
The stall should be fixed now.

[2019-05-14 21:11] #174 closed

[2019-05-14 21:18] ismaell commented on #165
@ballsystemlord still happening with newer versions?

[2019-05-14 23:20] ismaell opened #209 "Download loop regression"
Version: master branch (v2.17.1+)

Loops forever at the end of a file.

## Example session
[code]

[2019-05-15 02:09] hubutui opened #210 "segmentation fault (core dumped) when down files"
ArchLinux, axel 2.17.1. axel is installed from the official repo, and it is compiled with glibc 2.29, openssl 1.1.1.b, gcc 8.3.0 using default compiling opts, see [here](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/axel).

[code]

[2019-05-15 08:02] ismaell commented on #210
I'll make another release with a bugfix that might be related. Would you mind to test again with 2.17.2?

[2019-05-15 08:19] #206 closed

[2019-05-15 08:49] thinkycx commented on #200
Could you reproduce it again now ?
@RichardRo

[2019-05-15 08:56] hubutui commented on #210
I test again with 2.17.2, and I get a similar result with #209 .

[2019-05-15 08:59] ismaell commented on #209
The tail range seems worng.

## Example HTTP session
[code]

[2019-05-15 09:02] ismaell commented on #210
OK, so this bug is solved. I'll try to fix the loop one later today.

[2019-05-15 09:02] #210 closed

[2019-05-15 09:02] ismaell commented on #208
Pending release...

[2019-05-15 12:51] #136 closed

[2019-05-15 13:29] ismaell commented on #149
I will regard the report as invalid given there has been no activity for about a year.

[2019-05-15 13:29] #149 closed

[2019-05-15 13:32] ismaell commented on #117
@eribertomota @ordex  do you guys know if this still is broken?

[2019-05-15 13:37] ismaell commented on #170
Deemed invalid because of lack of input.

[2019-05-15 13:37] #170 closed

[2019-05-15 14:00] ismaell commented on #195
@sdfww can you try buliding again? The master branch added a related fix.

[2019-05-15 15:25] ballsystemlord commented on #165
I've upgraded axel and am now using axel:
[code]

I've also repaired my computer and therefore I'm not using the same kernel version or arch (new 4.14 x86).
Sadly, my poor old backup computer has been packed and stuck back into storage, so getting it out is not much of an option.

The version I'm running currently on Devuan (Debian) linux is:
[code]
And it and the latest version don't have this pr

[2019-05-15 15:25] #165 closed

[2019-05-15 15:43] ismaell commented on #165
@ballsystemlord it's likely fixed for good.

[2019-05-16 15:17] morcath opened #211 "LIBS synstax error"
I got error message:

Here you can find log: https://justpaste.it/2aq8q

Do you have any idea what happend?

[2019-05-16 16:24] makunterry commented on #211
please check whether `autoconf-archive` is installed in your system, if not, please install that package and re-run `autoreconf -i`.

[2019-05-16 16:26] ismaell commented on #211
I answered by email but it seems it's bouncing. I've introduced the use of `AX_PTHREAD which is part of autoconf-archive.

[2019-05-16 16:27] ismaell commented on #211
If you check the line you'll see the unexpanded macro before it.

[2019-05-16 16:28] #211 closed

[2019-05-17 16:32] makunterry commented on #209
The file size reported `1377715` looks wrong, mismatch with real size `1376845`.

[code]

[2019-05-17 16:40] ismaell commented on #209
@makunterry please check again, I think it's fixed now.

[2019-05-17 16:43] ismaell commented on #209
No, it's not for FTP at least :/.

[2019-05-17 17:28] makunterry commented on #209
@ismaell
Not yet.
[code]

[2019-05-17 17:30] makunterry commented on #209
the `SIZE` command returned from the server is not correct, which cause `lastbyte` mismatch with real one.
It's kind of server fault, maybe need some method to work around this case.

[2019-05-19 11:11] xkszltl commented on #209
Getting similar issue with the latest release (v2.17.2):
![image](https://user-images.githubusercontent.com/5203025/57981420-29ada780-79ec-11e9-9f86-03f79669fdf4.png)

[2019-05-20 08:18] ismaell commented on #108
https://sourceware.org/pthreads-win32/index.html

[2019-05-20 17:08] ismaell commented on #208
@eribertomota do you have time to update debian?

[2019-05-22 07:32] enihcam opened #213 "TCP Fast Open Support"
For example,
`setsockopt(fd, IPPROTO_TCP, TCP_FASTOPEN, &opt, sizeof(opt));`

[2019-05-22 14:46] ismaell opened #214 "Package for Slackware"

[2019-05-22 16:59] ismaell commented on #213
On client-side, `sendto` with `MSG_FASTOPEN` flag replaces connect and the first write.

[2019-05-22 17:29] ismaell commented on #213
Alternatively, `TCP_FASTOPEN_CONNECT` can be used since Linux 4.11.
https://github.com/torvalds/linux/commit/19f6d3f3c8422d65b5e3d2162e30ef07c6e21ea2

[2019-05-22 17:44] ismaell commented on #213
Our connection timeout support interferes with such implementation.

[2019-05-23 09:14] ismaell opened #215 "Implement HTTP Strict Transport Security"

[2019-05-23 11:16] daniel-eys commented on #208
Void done. (https://github.com/void-linux/void-packages/commit/e32ef341cb9acae18375047afa0ff613c4d0d304)

[2019-05-23 13:18] ismaell commented on #208
@daniel-eys thanks!

[2019-05-23 21:20] #213 closed

[2019-05-27 09:35] #214 closed

[2019-05-27 09:39] ismaell commented on #208
@ncopa ping. Still maintaining the alpine package?

[2019-05-27 09:43] ismaell commented on #208
@jlec ping.

[2019-05-27 10:10] ncopa commented on #208
Done with alpinelinux/aports@07c7ad8e3238fc189026955d5ee9ba03aba92db0

Do we also update stable branches?

[2019-05-27 11:34] ismaell commented on #208
Thanks!

I would recommend so, it has been mostly bugfixes since 2.16.x.

[2019-05-27 14:33] ismaell commented on #208
@jostber ping.

[2019-05-30 11:43] tkasarla opened #216 "HTTP CONNECT Proxying method lacks authentication headers"
My proxy requires authentication. I have added the proxy in the format 'http://username:password@proxy-address:port/'. However, I get a HTTP/1.1 407 Proxy Authentication Required error.

Same download works through wget, so I am sure it's not the proxy server issue.

How do I fix this?

[2019-05-30 12:58] ismaell commented on #216
That code path has not been exercised much; if you can, please implement test cases.

[2019-05-30 13:01] ismaell commented on #216
The code that executes the authentication is under `http.c` in the `http_get` function.

[2019-05-30 13:09] ismaell commented on #216
Run wget and axel in debugging mode and compare the headers sent to the proxy and server respectively.

A quick look at the source tells me nobody ever tried HTTPS/FTP over an HTTP proxy, so it's probably not building the header at all.

It does the trick for an HTTP over HTTP proxy session because there is no encapsulation, it reuses the GET method, so it works a little bit differently.

[2019-06-05 09:44] ismaell opened #217 "Workaround FTP servers reporting the wrong file size"
As reported by @makunterry, the `SIZE` command is returning an incorrect value.

## Example session
[code]

Related-to: https://github.com/axel-download-accelerator/axel/issues/209

[2019-06-05 09:44] ismaell commented on #209
@makunterry I'll close this one, and continue the FTP issue in #217 .

[2019-06-05 09:44] #209 closed

[2019-06-10 02:15] eribertomota commented on #208
Hi @ismaell

Sorry for my delay. Debian is frozen to release a new version. I can't upload to unstable now. However, I will try upload to experimental release soon.

Cheers,

Eriberto

[2019-06-11 15:19] ismaell commented on #208
@eribertomota Thanks. Landing on `experimental` is enough to tick it here, in the end it's just to keep things in sync.

[2019-06-11 17:18] eribertomota commented on #117
Flashgot is deprecated and no longer supported by Firefox. Axel is updated and working fine. So, I closing this bug. Feel free to reopen.

[2019-06-11 17:18] #117 closed

[2019-06-11 17:48] eribertomota commented on #208
Hi @ismaell

Uploaded to experimental!

https://buildd.debian.org/status/package.php?p=axel&suite=experimental

I have some suggestions:

1. After a 'make distclean' in Debian, a 'git status' showed:

[code]

I think that 'make -C po update-po' (from doc/UPDATE-CHECK) command should be run before release. The Makefile.am should have 'INSTALL' inside distclean-local. INSTALL is a auto-generated fil

[2019-06-11 18:02] eribertomota opened #219 "2.17.3 produces some warning when building"
Hi folks!

When building Axel 2.17.3 on Debian Sid, I can see:

[code]

For a complete log, you can access Debian Buildd System[1] and click over any 'Installed' word.

[1] https://buildd.debian.org/status/package.php?p=axel&suite=experimental

Cheers,

Eriberto

[2019-06-11 21:53] ismaell commented on #219
I'm working on those and others.

[2019-06-11 22:23] ismaell opened #220 "Remove `remove_git_dep` from Makefile.am"

[2019-06-11 22:24] ismaell opened #221 "Clean up distclean-local target"

[2019-06-11 22:28] ismaell commented on #208
I'll probably have to update CONTRIBUTING.md to reflect a requirement for point 2. It shouldn't be a burden for merging.

Is the Debian package still being built from the git repo?

[2019-06-12 00:52] eribertomota commented on #208
Debian uses the final tarball.

I always check the rights before release my projects. I put it in all
doc/UPDATE-CHECK. So, if you want, is easy for me send a pull request about
it.

Cheers,

Eriberto

Em ter, 11 de jun de 2019 às 19:28, Ismael Luceno <notifications@github.com>
escreveu:

[2019-06-14 10:03] SajjadKharrazi commented on #142
i still have this problem.

[2019-06-14 14:47] ismaell commented on #142
@SajjadKharrazi which version are you compiling? it may also have similar but unrelated bugs in mac os x, since there's no testing for that platform at the moment. can you provide a trace?

[2019-06-14 15:26] SajjadKharrazi commented on #142
how can i do that?
Axel version 2.17.3 (darwin18.6.0)

[2019-06-17 11:14] ismaell commented on #142
@SajjadKharrazi Using [`dtruss`](https://www.manpagez.com/man/1/dtruss/).

[2019-06-17 12:27] SajjadKharrazi commented on #142
[code]

[2019-06-17 12:27] SajjadKharrazi commented on #142
@ismaell

[2019-06-20 10:16] ismaell commented on #142
@SajjadKharrazi can you provide the complete log for all threads? (the more I look at this the less it looks like the same issue).

[2019-07-03 10:48] ismaell opened #223 "Remove uses of MAX_STRING"

[2019-07-03 10:48] ismaell opened #224 "Remove MAX_ADD_HEADERS"

[2019-07-03 10:51] ismaell opened #225 "Metalink support"
Basic Metalink support should not be difficult.

If possible, avoid XML parsing.

[2019-07-07 22:41] ismaell commented on #221
Closed by 6ac4d8e5fd2826ddd00a977f3939a7c3ebf0813e.

[2019-07-07 22:41] #221 closed

[2019-07-07 22:43] ismaell commented on #219
Should be fixed in current head (f1a6c1d608ac857d1914d6a4b270b8c3d6a324b4). Needs testing.

[2019-07-08 00:45] #163 closed

[2019-07-08 05:18] eribertomota commented on #219
Please, see the attached file.

[axel.build.zip](https://github.com/axel-download-accelerator/axel/files/3366762/axel.build.zip)

[2019-07-08 08:35] ismaell commented on #219
@eribertomota Thanks. For some reason I'm not getting `-Wjump-misses-init` added by the configure script, and it's not part of `-Wall`; is that something buildd is adding?

[2019-07-08 15:50] eribertomota commented on #219
I got it in a fresh jail Sid but you can use cowbuilder.

1. Unzip attached file.
2. Install and prepare cowbuilder for Sid:

[code]

3. Build the package using cowbuilder:

`# cowbuilder build axel_2.17.3+git20190705.f1a6c1d-1.dsc`

Thanks

[axel-debpkg.zip](https://github.com/axel-download-accelerator/axel/files/3369161/axel-debpkg.zip)

[2019-07-09 09:49] ismaell commented on #220
Solved by 2e58b443d0b19e615352965f2ba5e3496c14ebe6.

[2019-07-09 09:49] #220 closed

[2019-07-09 09:50] ismaell commented on #219
I've fixed more of them yesterday night. Let's see if that's enough.

[2019-07-09 18:13] eribertomota commented on #219
Worked fine, thanks!

However, autotools says:

configure.ac:120: warning: The 'AM_PROG_MKDIR_P' macro is deprecated, and its use is discouraged.
configure.ac:120: You should use the Autoconf-provided 'AC_PROG_MKDIR_P' macro instead,
configure.ac:120: and use '$(MKDIR_P)' instead of '$(mkdir_p)'in your Makefile.am files.

I think maybe you can update it.

[2019-07-10 11:05] ismaell commented on #219
The warning is old; it's caused by `AM_GNU_GETTEXT_VERSION([0.18])`.

[2019-07-10 11:11] ismaell commented on #219
I'll just go ahead and change the required gettext version (for an older one to avoid breaking anything).

[2019-07-10 11:11] #219 closed

[2019-07-10 12:20] ismaell commented on #195
Reopen if it's still an issue.

[2019-07-10 12:20] #195 closed

[2019-07-11 01:33] eribertomota commented on #219
Em qua, 10 de jul de 2019 às 08:11, Ismael Luceno
<notifications@github.com> escreveu:

Thanks!

[2019-07-14 09:05] ringofyre opened #226 "axel just reverts to --help output (no error message)"
$ axel http://dl1.upfdl.com/files/Serial/new/Sweetbitter/S01/Sweetbitter.S01E02.720p.WEB.HEVC.x265.RMT.Farda.DL.mkv
Usage: axel [options] url1 [url2] [url...]

--max-speed=x		-s x	Specify maximum speed (bytes per second)
--num-connections=x	-n x	Specify maximum number of connections
--output=f		-o f	Specify local output file
--search[=x]		-S [x]	Search for mirrors and download from x servers
--hea

[2019-07-15 09:38] ismaell commented on #226
That's an old version, looks like v2.13.1; try updating it.

[2019-07-18 09:41] ismaell commented on #226
Not happening on 2.17; but the server is returning a 500 error code.

[2019-07-18 09:41] #226 closed

[2019-07-18 09:42] ismaell opened #227 "Optimize reading of HTTP headers on `http_exec`"

[2019-07-19 08:31] ismaell commented on #150
Support merged for v2.17.4.

[2019-07-19 08:31] #150 closed

[2019-07-20 10:08] foutrelis opened #228 "Progress indicator is messed up in axel 2.17.4"
The alternate progress indicator seems to work fine, but the default one is all over the place. Attaching screenshots below but could also try a git bisect if it's not reproducible on your end.

2.17.3 vs 2.17.4:

![Screenshot_2019-07-20_13-00-47](https://user-images.githubusercontent.com/38810/61577343-dc82aa80-aaee-11e9-8528-7b9627f222a9.png)

![Screenshot_2019-07-20_13-01-23](https://user-image

[2019-07-20 23:34] ismaell commented on #228
Weird. I didn't see that happening. Please do a bisect.

[2019-07-21 07:23] foutrelis commented on #228
Bisect points to ef6ccfc4a38fc78c0c9fa18a4731dbac1f10ea49. The issue is always reproducible with `axel http://speed.hetzner.de/1GB.bin`. Weirdly enough, downloading the same file over HTTPS shows properly aligned progress output.

Reverting part of the above commit seems to fix this strange issue:

[code]

[2019-07-22 08:40] ismaell commented on #228
Excellent. I see what happened now. Do you mind to do a PR?

[2019-07-22 08:40] ismaell commented on #228
Remeber to add a reference to this issue's URL and the commit that introduced the bug.

[2019-07-22 11:05] #228 closed

[2019-07-22 11:11] ismaell commented on #228
Thanks.

[2019-07-22 19:08] ismaell commented on #228
You may want to check the changes I just made. I double checked this time.

[2019-07-22 19:09] ismaell commented on #228
This probably should be further simplified.

[2019-07-22 20:21] foutrelis commented on #228
It still looks good here and the code seems much cleaner. :+1:

(The current code isn't too complicated in my opinion.)

[2019-07-23 22:16] ismaell commented on #208
2.17.5 has been released, for those interested.

[2019-07-27 01:00] eribertomota opened #230 "Please, make manpages generation reproducible"
Dear developer,

The current manpage build system generate non-reproducibles manpages, because the date is variable. On Debian, each architecture produces the .deb file in a different time. So, each manpage may have a different date.

Regards,

Eriberto

[2019-07-27 01:28] ismaell commented on #230
Hi Eriberto,

I will check, the intention was for the date to be read from the VERSION file.

BR,

[2019-07-27 01:57] eribertomota commented on #230
Thanks!

Em sex, 26 de jul de 2019 às 22:28, Ismael Luceno <notifications@github.com>
escreveu:

[2019-07-27 02:36] eribertomota opened #231 "Files forgotten by clean"
Hi @ismaell

After a distclean, the following files are being kept in source code: doc/axel.1 e po/axel.pot

Thanks!

Eriberto

[2019-07-27 21:08] ismaell commented on #230
I can't reproduce the issue, but maybe it's something slippery... what's the date you've got on the generated manpage?

[2019-07-28 00:16] eribertomota commented on #230
Em sáb, 27 de jul de 2019 às 18:08, Ismael Luceno <notifications@github.com>
escreveu:

 27 July 2019

I confirmed it in Debian packages:

1. Go to https://packages.debian.org/unstable/axel#pdownload

2. Download a package.

3. Open: # ar -x package.deb

4. Untar data: tar -xvf data.tar.xz

5. Open a manpage.

Regards,

Eriberto

[2019-07-29 12:36] ismaell commented on #230
I figured it out. It's a bug on the Makefile. I'll fix it later today.

[2019-07-29 14:16] ismaell commented on #231
These are part of the distribution tarball, that's why they're not cleaned up.

Why do you need them removed? both should be invariant.

[2019-07-30 11:06] #230 closed

[2019-07-30 11:10] ismaell commented on #231
[code]

[2019-07-31 02:40] eribertomota commented on #231
Em ter, 30 de jul de 2019 às 08:10, Ismael Luceno <notifications@github.com>
escreveu:

I am using the tarball generated by GitHub over the original source code
when releasing a new version[1]. This tarball have not the files. Don't
worry because I can adjust it in packaging[2].

[1] https://github.com/axel-download-accelerator/axel/archive/v2.17.5.tar.gz
[2] https://salsa.debian.org/debian/axel/b

[2019-07-31 09:19] ismaell commented on #231
Ahhh, I see now, you didn't take my advice before... :-/. Those are snapshots, not release tarballs (i.e. the result of `make dist`).

[2019-07-31 09:19] #231 closed

[2019-07-31 09:21] ismaell commented on #231
You're doing it wrong, you _must_ use the tarball generated by `make dist`, or (not a good idea) run `make distdir` first, then repeat your build inside the generated distribution directory.

[2019-07-31 09:25] ismaell commented on #231
This distinction between snapshots and release tarballs is extremely important. You can always get a release out of the snapshot, but you have to follow the same steps, just as if you were making a release.

[2019-08-29 19:51] ismaell opened #232 "Update downstream packages to 2.17.6"
- [x] [Alpine Linux](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [ ] [ALT Linux](http://sisyphus.ru/en/srpm/axel)
- [x] [Arch Linux](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/axel)
- [x] [Buildroot](https://git.buildroot.org/buildroot/tree/package/axel/axel.mk)
- [ ] CentOS
- [x] [Debian](https://packages.qa.debian.org/a/axel.html)
- [ ]

[2019-08-29 19:53] ismaell commented on #208
2.17.6 has been release, see #232.

[2019-08-29 19:53] #208 closed

[2019-09-10 17:49] armanm opened #233 "Axel can't complete a resumed download"
I'm using Axel on OSX 10.14.6 and having trouble resuming an incomplete download. Resuming an interrupted download appears to work until the progress reaches 100% and at that point things seem to just hang – for some unknown reason Axel isn't able to finalise things.

The way I have been experiencing this is when the cable to the external HDD (where I have been downloading to) is accidentally knoc

[2019-09-18 14:30] pthfdr-42 opened #234 "Make the "alternate" progress indicator the default."
The default progress indicator is pointless. It spams dots to the terminal, effectively trashing the scrollback buffer; also, it actually shows less information than the "alternate" ones in `-a`.
The only thing good about the default one is that it works on a dumb terminal and is visible in scripts, but in either case, the user would disable the indicator as it spams dots.

I think that you should

[2019-09-19 23:38] shankar commented on #216
@tkasarla `407 Proxy Authentication Required` status response is triggered cuz axel is not able to provide the right credentials to the proxy server. looks like the **`base64`** encoder is buggy.
I tested HTTP authentication with axel and it sent the wrong credentials

#### Reproducing the bug:
URL: `https://username:password@httpbin.org/basic-auth/username/password`
_Browser request authorization

[2019-09-20 01:09] HapCoderWei opened #235 "How to build standalone?"
Hi, I want to build search.c into  a exec file standalone, as i see there have a STANALONE Macro in search.c file. My question is how i can build this file into a stanalone exec program?  Should I add some macro defines in configure.ac or m4 file? I'm a newbie in autotools. Could you give me some advise?
Best Wishes!

PS: I'm learning this project, and want to see how the search.c file is running.

[2019-09-20 12:33] ismaell commented on #235
The macro is meant to be defined when compiling the file manually; it's not intended to be used by the build system.

[2019-09-20 12:33] #235 closed

[2019-09-20 12:42] ismaell commented on #234
I agree the default isn't useful, but some sort of feedback is needed. My preference would be for something easy for both humans and programs to parse. Ideas?

[2019-09-20 12:49] ismaell commented on #216
@shankar go ahead. From what you mention, it seems `http_auth_token` is getting `pass==NULL`, that's the problem, the base64 encoding looks fine.

[2019-09-21 12:29] pthfdr-42 commented on #234
Simple. Here is my suggestion:
Every second it prints the amount downloaded in that second (AKA download speed), and the progress.
Mockup:

    $ axel hxxp://1.2.3.4/sample.bin
    AXEL v1.2.3.4
    File: sample.bin [15000]:
    4000/15000 [4000]
    6000/15000 [2000]
    8500/15000 [2500]
    10000/15000 [1500]
    12000/15000 [2000]^C
    ERROR: SIGTERM received.
    $ axel hxxp://1.2.3.4/sample

[2019-09-23 11:10] shankar commented on #216
@ismaell i checked and looks like the while loop in `http_auth_token` is prematurely ending. I have fixed it. Pls comment on my pull request.

[2019-09-23 11:13] ismaell commented on #234
That's unusable. To be viable it needs to provide more information, so we can build a live progress report out of it. It needs to show how much _each thread_ is doing and the position of that progress.

To be acceptable it also needs to come with an implementation.

[2019-09-23 11:13] ismaell commented on #234
Or, alternatively, a bounty and some detailed acceptance criteria.

[2019-09-23 11:59] ismaell commented on #216
@shankar please note that the flaw you fixed isn't enough to make proxy auth work on all cases, it'll need some more effort.

[2019-09-23 13:45] shankar commented on #216
@ismaell i have tested the code against credentials of various lengths and it worked in all the cases. I checked with curl and wget projects and none of those seem to have comprehensive unit tests. Please let me know if u find a case where it fails because for now i don't know how to proceed.

[2019-09-23 14:21] ismaell commented on #216
@shankar please see around lines 180-200 in `http.c`. It adds the proxy auth on the HTTP stream, but that wouldn't work for HTTPS.

[2019-09-23 17:20] shankar commented on #216
@ismaell now i understand. For now this code should work fine. The proxy will receive the `Proxy-Authorization` and fetch the HTTPS destinations just like GET request to HTTP sites.

Later when we implement CONNECT method this would be a problem since this method is not idempotent.

Later while implementing CONNECT method to tunnel through proxy care should be taken to provide `Proxy-Authorization

[2019-09-23 20:46] ismaell commented on #216
@shankar Correct.

I will close this one and add another issue for the HTTPS proxying and add a note there.

[2019-09-23 20:46] #216 closed

[2019-09-23 20:49] ismaell commented on #167
Fixed by commit 4ee51f5c62f531e44ec15981edfaaa0336d6df87.

[2019-09-23 20:49] #167 closed

[2019-09-29 15:55] HapCoderWei opened #237 "Configure error on Raspberry Pi"
I try to compile axel on a raspberry pi 3B, but it failed in ./configure.
Below is the error info. I have googled the error and most result suggest install autoconf-archive, but this didn't help me. So could you find what's wrong about this configure process?
[code]
System info:
[code]
Any help will be Thanks!

[2019-09-29 15:57] HapCoderWei commented on #237
This is my autoconf version:
[code]

[2019-09-30 20:08] ismaell commented on #237
Why aren't you building from the release tarball?

[2019-09-30 23:16] HapCoderWei commented on #237
Well, I want to use raspberry pi as a develop platform, so i can modify source code to compile some different functoins. Thanks for your reply.

[2019-09-30 23:39] ismaell commented on #237
If the `AX_IS_RELEASE` macro doesn't expand it probably means you got an outdated `autoconf-archive` package. Check if `/usr/share/aclocal/ax_is_release.m4` exists. If it doesn't you may have to install a version of `autoconf-archive` not available in your distribution.

[2019-09-30 23:39] ismaell commented on #237
Or alternatively, replace the instance of the macro with a hardcoded result.

[2019-10-07 15:21] HapCoderWei commented on #237
You are right, `/usr/share/aclocal/ax_is_release.m4` is not exists on my raspberry pi. It seems that this is a common problem on raspberrypi with autoconf-archive. As i have found another case like me in here: https://github.com/tpm2-software/tpm2-pkcs11/issues/69
And according to this issue, i also run the ./configure process successfully. I think this issue can be closed, and thank you for your

[2019-10-08 08:07] #237 closed

[2019-10-10 07:41] Alice-space opened #238 "Error opening local file"
![image](https://user-images.githubusercontent.com/47878052/66548621-333ed400-eb74-11e9-8090-0439c4acfbf6.png)
Help!
I cannot use axel because Error opening local file as the picture shown above.

[2019-10-11 02:39] Alice-space commented on #238
After reboot, i successfully solved that question
Don`t know why ........

[2019-10-11 02:39] #238 closed

[2019-10-14 11:02] shijiantian commented on #186
I finally found the cause of the problem after a few months.
When I append the proxy settings
[code]
to "~/.bashrc", axel will encounter this bug.

[2019-10-15 18:16] ismaell commented on #186
Again, in principle it doesn't look like a bug in Axel.

Maybe I'm missing something, maybe the proxy requires something special, or maybe there's something slightly wrong about axel's implementation and the proxy is picky, but we will only be able to tell comparing some other downloader (e.g. wget) to axel with the same proxy, and then maybe we can do something about it.

[2019-10-17 22:45] davidpolverari commented on #116
I would like to try to implement this feature, as I already have implemented a (somewhat naive, but working) simple `.netrc` parser in a few lines. But before I finish that, I would like the feedback on some points:

- I thought about only enabling `.netrc` parsing through a command-line option, not as a default behavior, as not to break the existing user experience, scripts, etc. What do you thin

[2019-10-18 02:08] davidpolverari commented on #116
I submitted a PR that implements the feature. I intend to enhance some points of the implementation in the future, but for now it seemed to work for me. Tests are welcome.

I purposefully didn't change any of the .po files because of my ignorance of internationalization issues, so the new messages added to print_help() do not appear at the moment, in spite of the options being functional.

[2019-10-21 10:38] giovanism commented on #234
I think the points is to not spam the tty with dots under default interactive behavior. We can leave the old output for non-tty output and use the `-a` output as default for interactive session. I think the chance of this breaking people's existing scripts is minimal and there is no need to wait for major version revision.

[2019-10-21 17:38] ismaell commented on #234
@giovanism patch?

[2019-10-21 17:39] ismaell commented on #234
Just to clarify, I'm not doing it precisely because it's easy and I have better things to do at the moment.

[2019-10-26 17:16] abcfy2 opened #246 "High CPU usage and memory leak."
I use the latest git version. But I find axel cost too much memory with high cpu usage.

[code]

[code]

[code]

You can see axel use 100% cpu (24 cores) and 70.2% memory (64GB), I have to kill the axel to release memory usage.

[2019-10-28 10:37] ismaell commented on #246
Which OS is it?

I haven't seen that on my systems,  but maybe there's some assumption that doesn't hold on yours.

Could you compile it with debug information and provide a perf trace of the run?

If you need a GUI I recommend this one: https://github.com/KDAB/hotspot

I need to see which functions are involved to know where to start looking.

[2019-10-28 10:44] abcfy2 commented on #246
Both CentOS 7.6 and Deepin 15.11 (based on Debian 9) have this issue.

[2019-10-28 11:46] abcfy2 commented on #246
`perf.data` is too large, I just record some minutes with 15GB. And I find the axel memory usage will never reduce. Here is the result:

![深度截图_dde-desktop_20191028194416](https://user-images.githubusercontent.com/5327677/67676000-8e1d5b80-f9bb-11e9-8391-23655edd2e1a.png)
![深度截图_dde-desktop_20191028194407](https://user-images.githubusercontent.com/5327677/67676001-8e1d5b80-f9bb-11e9-8bcb-770695fcd

[2019-10-28 12:11] ismaell commented on #246
That's very weird.

We would need to know the return values of the `select` in `axel_do` and the `tcp_read` on the block following it.

It looks like it's continuously looping without doing useful work.

Things that may be relevant:
- is it an HTTPS connection?
- does your system support TCP FASTOPEN_CONNECT?

[2019-10-28 12:14] abcfy2 commented on #246
- Yes, it's https connection.
- Deepin 15.11 use `4.15` kernel, and CentOS 7 use `3.10.0-1062.4.1` kernel, I thins both support TCP FASTOPEN_CONNECT

[2019-10-28 14:08] ismaell commented on #246
`TCP_FASTOPEN_CONNECT` was added in Linux 4.11 IIRC, so it's probably not that. If you want to test with it disabled, you can compile with `CFLAGS=-DTCP_FASTOPEN_CONNECT=0 ...`.

I'm not sure it's a regression, so maybe it's not worth doing a `git bisect` right away... do you know how to use a debugger? that's the easiest way to get the return values to try to see what's going on between the `sele

[2019-10-28 14:12] abcfy2 commented on #246
No. I don't know how to do this. Would you give me a help? I find the `2.17.6` still has this issue.

[2019-10-28 14:29] ismaell commented on #246
Then maybe try running it with `ltrace`, and upload the log somewhere and post a link here; we probably need just a few seconds. I'll have some time tomorrow night to review the issue.

[2019-10-28 14:56] abcfy2 commented on #246
OK. Hope this issue could be fixed soon. :)

[2019-10-28 16:17] HapCoderWei commented on #234
I will give a patch to implement this advice:
`1. Remove the default indicator and make the "alternate" one the default`
Is that change ok?

[2019-10-28 18:06] ismaell commented on #234
Changing the default depending if stdin is a tty is ok, that should be enough.

[2019-10-29 01:24] pthfdr-42 opened #247 "Do not re-establish connections after they are finished."
When at the end of each download session, `axel` frequently connects to and disconnects from the server.
This has 2 problems:
1. It actually make the speed lower due to the time used connecting;
2. Some servers will ban you if you frequently connects and disconnects to them.
So if a connection is finished, you should not make any new connections.

[2019-10-29 08:32] ismaell commented on #247
This should be optional, as the idea of re-connecting is to keep the workload constant.

[2019-10-30 12:47] pthfdr-42 commented on #247
It makes sense in the middle of the download, but it makes no sense when there is only a few megabytes and less than a minute remaining.

[2019-10-30 13:15] ismaell commented on #247
Ah, indeed, it could be improved. A strategy needs to be written down first.

El October 30, 2019 12:47:23 PM UTC, "Gong S." <notifications@github.com> ha escrit:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-11-07 00:13] HapCoderWei commented on #234
This  issue can be closed.

[2019-11-08 02:22] #234 closed

[2019-11-15 17:57] the0demiurge commented on #142
same problem here

[code]
[code]

[2019-11-21 11:07] arter97 commented on #233
You should probably call fsync() to .st files for the filesystem to actually flush the metadata and allow filesystem to try its best to recover it at usable state.

[2019-11-21 15:53] ismaell commented on #233
@arter97 That might help, but you can't really recover unless you do the updates incrementally, which we don't. That is, if the disk gets disconnected while the fsync is going on, you're screwed, also you're screwed if the OS decides to write some stuff in between fsync calls.

[2019-11-24 14:17] abcfy2 commented on #246
Any update? I find the Windows version has the same issue.

Windows version can install msys2 and use: `pacman -S axel` to install the Windows version, with the same issue

[2019-11-27 08:28] shenweiyan opened #251 "CentOS 6 install error with "invalid date""
I installed axel on my CentOS 6.5 X64，but I got some error:
[code]

It seems someting wrong with ‘axel_gettime’, could someone help me how to fix it,thank you.

[2019-11-27 09:10] shenweiyan commented on #251
I solved it with ` ./configure --prefix=/usr/local/axel CC=/usr/local/gcc-4.8.5/bin/gcc`.

[2019-12-05 15:44] ismaell commented on #246
You have to re-build axel from sources; something like this would do:
[code]

With that you make sure FASTOPEN isn't used and that the binary gets debugging information.

`ltrace -S -f -tt -T -o axel.trace.log ./axel url` would give you useful information about where time is being spent.

Another uselful piece of information could come from a dump of the state; those can be produced by `gcore`, yo

[2019-12-05 15:53] ismaell commented on #142
@the0demiurge can you provide a core dump and a trace with local functions too? e.g. `ltrace -o axel.trace.log -tt -T -S ...`

I guess for the core dumps you can use `gcore`, should work on Darwin.

[2019-12-06 03:04] abcfy2 commented on #246
Hi @ismaell . I try to build with `CFLAGS="-DTCP_FASTOPEN_CONNECT=0 -Og -g"`, but it will cause segment fault.

[code]

And here is trace log.

[axel.trace.log.gz](https://github.com/axel-download-accelerator/axel/files/3930202/axel.trace.log.gz)

[2019-12-06 03:16] abcfy2 commented on #246
Without `ltrace` seems OK. Here is `gcore` output:

[core.19191.gz](https://github.com/axel-download-accelerator/axel/files/3930234/core.19191.gz)

[2019-12-06 03:34] abcfy2 commented on #246
Strange. I can't reproduce this issue right now. So close this issue for now, and waiting for the right way to reproduce this issue.

[2019-12-06 03:34] #246 closed

[2019-12-10 05:36] Restia666Ashdoll commented on #108
So, is the Unix utils port, installed wit `scoop install axel` good ?
https://sourceforge.net/projects/unix-utils/files/axel/

[2019-12-16 12:02] ismaell commented on #246
Ok for me, so far I haven't seen the issue anywhere...

[2019-12-16 12:03] #251 closed

[2020-01-07 12:28] 1160300929 opened #252 "will axel add a recursive download mode to download a folder?"

[2020-01-08 19:42] ismaell commented on #252
short answer is: no

it doesn't fit the way it's coded, it could be implemented if we do some refactoring, but that will not happen anytime soon.

El January 7, 2020 12:28:06 PM UTC, "郑小燮" <notifications@github.com> ha escrit:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-01-09 06:49] SamLukeYes opened #253 "Cryptic configure error with mingw64"
while running './configure' in git bash, an error appeared like this:
configure: error:  is required.

[config.log](https://github.com/axel-download-accelerator/axel/files/4038999/config.log)

[2020-01-12 21:13] ismaell commented on #253
mingw isn't officially supported. patches are welcome

[2020-01-12 21:13] ismaell commented on #253
at that point it's failing to find headers for the bsd sockets library

[2020-01-12 21:14] ismaell commented on #253
a pthreads implementation will be needed too

[2020-01-14 11:05] #252 closed

[2020-01-14 11:19] ismaell commented on #108
@Restia666Ashdoll I'm guessing that the link actually refers to a version compiled against Cygwin; that, in theory, should work with newer versions too.

I see MSYS2 contains 2.17.6.

[2020-01-14 12:41] ismaell commented on #108
$ objdump -p axel.exe | grep DLL
        DLL Name: msys-crypto-1.1.dll
        DLL Name: msys-2.0.dll
        DLL Name: msys-ssl-1.1.dll
        DLL Name: KERNEL32.dll

Seems similar to a cygwin build, but it isn't.

[2020-01-19 10:33] xindubawukong opened #254 "Can't handle URLs of length over 1024"
Error: "Can't handle URLs of length over 1024."
I fail to download because the url is too long. Can someone fix this?

[2020-01-19 10:33] xindubawukong commented on #254
Version: Axel version 2.17.6 (darwin18.7.0)

[2020-01-19 10:36] #254 closed

[2020-01-26 11:58] #253 closed

[2020-01-26 12:14] ismaell opened #256 "Update downstream packages to 2.17.7"
- [ ] [Alpine Linux](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [ ] [ALT Linux](http://sisyphus.ru/en/srpm/axel)
- [ ] [Arch Linux](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/axel)
- [ ] [Buildroot](https://git.buildroot.org/buildroot/tree/package/axel/axel.mk)
- [ ] CentOS
- [ ] [Debian](https://packages.qa.debian.org/a/axel.html)
- [ ]

[2020-01-26 12:15] ismaell commented on #232
2.17.7 has been released, see https://github.com/axel-download-accelerator/axel/issues/256

[2020-01-26 12:15] #232 closed

[2020-01-30 16:49] ismaell commented on #256
@xeffyr would you mind updating the termux package? ;)

[2020-01-30 16:54] ismaell commented on #256
@eribertomota can we somehow make the sync of Ubuntu faster?

I guess it should be straightforward to publish the update to both concurrently instead of just waiting... is it too complicated to enroll on the Ubuntu side?

[2020-01-30 16:56] ismaell commented on #256
@jostber hi!

[2020-02-01 02:05] eribertomota commented on #256
@ismaell Ubuntu uses a robot to pull the package from Debian. Is not possible upload directly to Ubuntu. So, we need to wait for Ubuntu...

Reference: https://wiki.ubuntu.com/UbuntuDevelopment/NewPackages

[2020-02-03 13:28] ismaell commented on #256
@eribertomota I was thinking about the MOTU team, and how difficult it would be to join...

[2020-02-03 15:17] eribertomota commented on #256
Em seg., 3 de fev. de 2020 às 10:28, Ismael Luceno
<notifications@github.com> escreveu:

I think that MOTU is for specific Ubuntu code only, not external or
normal packages.

[2020-02-13 13:07] cslycord opened #258 "tarballs and "source code" tarball behave differently"
In the project dependencies list, txt2man is listed as an "extra dependency for building from snapshots".

But in releases, if I download the "Source code (tar.gz)" [ https://github.com/axel-download-accelerator/axel/archive/v2.17.7.tar.gz ] this file doesn't contain manpages and needs txt2man to build.

But if I download the tar.gz above that [ https://github.com/axel-download-accelerator/axel/re

[2020-02-14 11:26] ismaell commented on #258
It is expected. The tarballs coming from the `*/archive/` URLs are effectively snapshot tarballs, and Github provides no way to suppress their links from the release pages.

[2020-02-14 11:26] #258 closed

[2020-02-16 14:38] davoudarsalani commented on #106
Hi. I've installed axel via pacman. Is there a way I can fix this?

[2020-02-18 12:11] ismaell commented on #106
This issue was fixed in v2.14.1...

Which distribution is it?

[2020-02-18 14:04] davoudarsalani commented on #106
It's on Arch.
What I have tried so far is that I removed the one I had installed via pacman (axel 2.17.7-1) and installed it using github source. But I still have the same problem.

[2020-02-20 16:19] obitori opened #259 "SOLVED: Building with KALI -- apt install txt2man"
To install axel on Kali GNU/Linux 2020.1, I followed the Ubuntu instructions, but got an error that indicated "txt2man" was not installed.  I installed it with:

`sudo apt install txt2man`

After that, the source code for axel compiled and I was able to install the github version.

Details below:
`
kali@kali:/opt/axel$ ./configure
checking for a BSD-compatible install... /usr/bin/install -c
[SNIP]

[2020-02-22 19:22] #259 closed

[2020-02-22 19:24] ismaell commented on #106
Then you have another (unrelated but similar) problem. Can you provide a trace?

[2020-02-23 04:38] davoudarsalani commented on #106
By "trace" do you mean the download output?
Actually I haven't had the problem as much since I have installed it from source but it does happen from time to time. I'll post the output the next time I experience it again.

[2020-03-02 10:22] NickSun commented on #106
Is it possible to add --min-speed option? Downloads stall sometimes when about to reach 100%.
Axel version 2.16.1 (Linux)

[2020-03-13 15:59] ismaell commented on #106
@davoudarsalani I meant syscall trace like the one generated by `strace`.

@NickSun some form of stall detection would not be a bad idea, indeed. Mind opening a feature request?

[2020-03-13 16:09] NickSun opened #260 "Feature request: --min-speed option"
Is it possible to add --min-speed option? Downloads stall sometimes when about to reach 100%.
Thanks!

[2020-03-13 16:10] NickSun commented on #106
done #260

[2020-03-16 14:22] will-code-for-pizza opened #261 "Axel returns invalid return code"
Hi,
it seems, Axel has problems with returning the correct return value, if some downloads failed.

[code]
Is there a way to work around this 'feature' ?

Regards.

[2020-03-16 22:55] theopolis opened #262 "Axel may not verify server certificate CN/SAN/hostname (allowing SSL interception)"
It looks like Axel's SSL's connections do not verify server certificate hostnames. To fix this the SSL context should set a certificate callback or use `SSL_set1_host` to set the intended hostname.

This is an issue since it uses `SSL_CTX_set_default_verify_paths` and loads all root authorities from the OS. See https://wiki.openssl.org/index.php/Hostname_validation for a description of this nuance

[2020-03-17 07:38] alapha23 commented on #108
I'm on cygwin with the axel master branch and there seems to be an "error: array subscript has type ‘char’" in src/conf.c.

Anyone has a clue on this?

[code]

[2020-03-20 14:44] jih488 opened #264 "Does axel support http/1.1 or 2.0 ?"
Does  the axel 2.17   support  http/1.1  or 2.0?

[2020-03-20 18:05] vewupom opened #265 "Axel doesn't include the User-Agent header in http requests"
There is a bug since 7525c57ee7dafc36cd2f33e670f53a231a7b14ea that makes Axel not send the User-Agent header (neither the default nor a custom one). With the only exception being the user setting one or more custom headers (-H) to be included and afterwards setting a custom User-Agent string - in which case the very first custom header will get omitted instead:

Opening a PR soon.

[2020-03-20 18:48] vewupom opened #266 "Axel parses more custom headers than it was designed to resulting in mememory corruption"
There is a #224 hard limit of additional/custom headers an user can include with Axel's HTTP request. At the moment it's 9 (+1 for User-Agent). However Axel does not check how many custom headers have been appended which may result in memory corruption. Sometimes it will still go through with the request, but sometimes it  SEGFAULTs or worse, leaks out parts of memory to the remote host.

I've mad

[2020-03-20 19:29] kropple opened #268 "Bug in Content-Disposition File name parsing"
axel takes the filename from content-disposition headers but cuts them off if there are spaces in the filename.

thanks for your great work!

[2020-03-20 20:08] ismaell commented on #264
On 20/Mar/2020 07:45, jih488 wrote:

HTTP/1.0 with extensions from HTTP/1.1. Full HTTP/1.1 support would be
nice.

[2020-03-20 21:35] ismaell commented on #261
No, error codes aren't entirely consistent, needs to be specified, patched and documented.

[2020-03-20 21:35] ismaell commented on #261
Patches welcome.

[2020-03-20 22:37] ismaell commented on #108
Doesn't make sense.

[2020-03-21 14:10] shamoons commented on #173
Same issue for me

[2020-03-23 22:11] ismaell commented on #108
@alapha23 would you mind to share your config.log?

[2020-03-23 22:35] #262 closed

[2020-03-25 18:50] ismaell commented on #268
Fixed by commit 7e5e018c9c74a3ae02a94ba9813980672d6f2b3c.

[2020-03-25 18:50] #268 closed

[2020-03-25 19:09] ismaell opened #271 "Missing wildcard support in SSL hostname verification"
The initial support added in commit 961cf5408baf17944edab2bf771afb90471c4262 (@theopolis) compares plain strings only.

[2020-03-25 21:44] theopolis commented on #271
Ack, will take a look soon.

[2020-03-26 02:34] Jason23347 opened #273 "More support for cookie"
Could we read cookies from a file, or store cookies automatically?
When I was downloading files from a server protected by cloudflare, it returned status code 520.
Tested with curl, I found that cookie is required to access the web site.

[2020-03-27 00:57] ismaell commented on #271
Tested dn_match with some random file:
[code]

I guess some synthetic tests are needed to be extra sure.

[2020-03-27 00:59] ismaell commented on #271
Internal state is as expected.

[2020-03-27 01:00] ismaell commented on #271
I tried to be as flexible as possible while following RFC-6125.

[2020-03-27 05:53] SalimF opened #274 "I got SSL error: Certificate error even after adding -k"
Hi this happened to me with version 2.6.! so I  decide to compile the newer version 2.17.7 but I still got same error message
`axel SSL error: Certificate error`
I tried both   `--insecure` and  `-k` with the same error message how get axel ignore SSL certificate (BTW the certificate is valid ).

[2020-03-27 09:50] rex4539 opened #275 "Commit 9653399f493a933033c389c2691951af5077c69f broke macOS compilation"
[code]

[2020-03-27 09:53] rex4539 commented on #275
@ismaell Could you have a look?

[2020-03-27 11:13] ismaell commented on #275
Ah, yes the problem is that "config.h" should be included in each file instead of in "axel.h", as it needs to be the first one.

[2020-03-28 07:23] pravi opened #276 "show how much we downloaded already by default like wget"
Even though the server does not specify the file size and percentage cannot be shown, how much we downloaded already can be helpful when we roughly know the size.

[code]

[code]

[2020-03-28 17:44] #275 closed

[2020-03-28 17:52] ismaell commented on #276
Could you elaborate? You want to show the size on the progress bar or just the initial size?

[2020-03-28 23:22] pravi commented on #276
@ismaell size on the progress bar. If you see the wget example, it has 3 numbers 1. How much we already downloaded (size of downloaded file) 2. Current download speed 3. And how long are we downloading it (time since download started). With Axel only one number ie, speed is shown.

[2020-03-28 23:23] pravi commented on #276
6.27M  7.95KB/s    in 12m 59s in wget vs [   6.9KB/s] in axel

[2020-03-30 00:42] theopolis commented on #271
This looks correct

[2020-03-31 01:13] SalimF commented on #274
Update the issue dose not exist with the version `2.16.1` that shipped with my distro `Linux mint 19` this may be due the compiling configuration I made "I don't know " any way this is the path of distro version 2.16.1 and this is the path for complied one `/usr/local/bin/axel`  .

[2020-03-31 06:53] data-man opened #278 "Set local file's timestamp to server's timestamp"
wget & wget2 does this by default.
curl & aria2 has `--remote-time`.

It would be nice to add this feature to Axel.

[2020-04-01 11:47] ismaell opened #279 "Add SPDX tags to all source files"

[2020-04-01 14:41] ismaell commented on #274
@SalimF OK. In case of old versions it's recommended to just fill the bug with your distribution stating which versions show the bug and which ones don't, so maybe they backport the patch or update it. From the project side there's nothing we can do in this case other than tracking them. If you open it, please link it here.

[2020-04-02 01:22] ismaell opened #280 "Remove special-case count=0 of axel_new"

[2020-04-02 15:35] itfs1992 commented on #185
I got the same error, there's never been a fix for this :(

[2020-04-06 11:46] #265 closed

[2020-04-06 11:46] #266 closed

[2020-04-06 11:59] #280 closed

[2020-04-06 12:14] #264 closed

[2020-04-06 12:20] #271 closed

[2020-04-06 15:07] rex4539 opened #283 "dn-match.c does not build on Mac OS X"
@ismaell

[code]

[2020-04-06 16:16] ismaell commented on #283
It must be an earlier one. Please try with the latest code on master branch.

[2020-04-06 16:25] rex4539 commented on #283
Master fails too.

With commit e3210a9c833aa8acf69f1461b6c693db0c565cc7:
[code]

With commit 52a5050c47ef922a8d4c396f4b78aaf3b5825271:
[code]

[2020-04-06 17:17] ismaell commented on #283
Ah, I see what's going on; I will fix in a couple of hours worst case. Thanks for the report.

[2020-04-06 17:22] ismaell opened #284 "Update downstream packages to 2.17.8"
- [x] [![Alpine Linux Edge package](https://repology.org/badge/version-for-repo/alpine_edge/axel.svg)](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [ ] [![ALT Linux Sisyphus](https://repology.org/badge/version-for-repo/altsisyphus/axel.svg)](http://sisyphus.ru/en/srpm/axel)
- [x] [![Arch Linux](https://repology.org/badge/version-for-repo/arch/axel.svg)](https://git.archlinux.

[2020-04-06 17:43] #283 closed

[2020-04-07 02:14] jostber commented on #256
On 06.04.20,13:27, Ismael Luceno wrote:

Hi, thanks. The new SlackBuild version has been submitted to the
repository today.

Jostein

[2020-04-07 16:46] ismaell opened #285 "Default to HTTPS"

[2020-04-07 16:55] ismaell opened #286 "Add parameter to disable TFO (TCP Fast Open)"

[2020-04-07 20:32] slashbeast commented on #284
✔ Gentoo bumped -- https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=0af532ca3698a3d6d7e8272660dbe8df0d3b6799

[2020-04-08 03:06] theopolis commented on #271
Thanks for all the effort @ismaell. I see you had to do a bit of follow up from the first commit to handle method availability. Sorry for creating that extra work.

[2020-04-08 08:23] ismaell commented on #271
@theopolis: No problem. I hope you stay around!

[2020-04-08 16:41] Jason23347 opened #287 "No prompt when connection is refused"
[code]

[2020-04-09 13:00] xkszltl opened #289 "Cannot compile v2.17.8 with OpenSSL 1.0.2k on CentOS 7"
CentOS 7 shipped with OpenSSL 1.0.2k by default.
We were able to compile axel previously (~1 week ago) on it but same build script failed today:
[code]
<img width="1053" alt="image" src="https://user-images.githubusercontent.com/5203025/78897520-e72e0700-7aa4-11ea-9155-487a10d2f15e.png">

Same script works on Ubuntu 18.04/OpenSSL 1.1.1

[2020-04-09 14:06] ismaell commented on #289
@xkszltl there's a configure flag for disabling errors:
[code]

These errors should not cause ABI incompatibilities, but should be solved by the distribution anyway.

You should open a bug report with CentOS (or find an existing one, maybe there is) against their OpenSSL package, and attach it there, then reference that bug report here.

Anyway, please tell us how it went when disabling `-Werror`.

[2020-04-09 20:08] xkszltl commented on #289
Works without Werror.

[2020-04-09 23:29] #289 closed

[2020-04-13 19:25] C7C8 opened #290 "Progress bar breaks and runs through all of ASCII starting from '0', instead of showing progress"
I ran `axel` to download a file recently and found the download progress bar started at '0', the next character was '1', then '2' and so on, all the way until the end of the progress bar, by which time it had gotten into unprintable characters. There were also periods interspersed in the output. I've attached the output here as a screenshot instead of text because it appears my terminal (Zsh runni

[2020-04-15 21:02] 1024mb commented on #108
Are we any more close to see a Windows build?

[2020-04-16 00:41] ismaell commented on #108
@1024mb unless somebody sponsors it, probably not. Technically it shouldn't be difficult, though.

[2020-04-16 09:28] fritruc commented on #274
I have this issue in a debian docker container, with the v2.17.8 of axel
When using -k, I got this error :

[2020-04-16 10:42] ismaell commented on #274
Confirmed.

[2020-04-21 22:05] noveljava opened #291 "It can't success download big file."
OS : Mac
Version : Axel version 2.17.8 (darwin19.4.0)

	  2007-2009 Giridhar Appaji Nag,
	  2008-2010 Philipp Hagemeister,
	  2015-2017 Joao Eriberto Mota Filho,
	  2016-2017 Stephen Thirlwall,
	  2017      Ismael Luceno,
	  2017      Antonio Quartulli,
		    and others.
Please, see the CREDITS file.

---
I try to download 90GB file. But It remind some file size and not working.

Opening output f

[2020-04-22 00:27] mlhch opened #292 "References on RaspBerry 4B for CentOS-Userland-7-armv7hl-RaspberryPI-Minimal-4-1908-sda"
yum install gettext-devel automake autoconf-archive

no txt2man in yum repository, so use https://github.com/mvertes/txt2man

[code]

make has some warnings:

[code]

Some temporary changes for makeing success:

[code]

Because above ./configure has no --without-ssl parameter, so it fails:

[code]

However, all possible openssl have been installed by yum, so I have no idea what to do for next step

[2020-04-22 09:27] ismaell commented on #291
We will need more information to solve the issue. Can you provide a syscall trace?

[2020-04-22 10:01] noveljava commented on #291
How to get syscall trace information?

[2020-04-22 10:37] ismaell commented on #291
On Darwin you can use `dtruss`, see the manual page.

[2020-04-24 08:21] Pekary opened #293 "Error: HTTP/1.1 400 Bad Request"
Hi, i used `Copy as cURL` in chrome to get the URL which can used by curl command, but when I use axel, it returns `HTTP/1.1 400 Bad Request`. the details are below:
- My Command:
  `axel -n 10   -H 'Connection: keep-alive'   -H 'Upgrade-Insecure-Requests: 1' \
  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.92 Safari/537.36

[2020-04-24 13:24] ismaell commented on #293
Sounds like some application-level firewalling is going on, but without knowing why the server isn't liking the request there's no way to fix the problem.

It may be the fact that we don't de-duplicate headers, if axel sends something by default and you specify it in the command line, it will send both; try the `--user-agent` option instead.

[2020-04-24 19:46] Ara4Sh commented on #142
same here
macos catalina
Axel version 2.17.8 (darwin19.4.0)

[2020-04-29 06:56] JZuming opened #294 "Data Race in conn.c and axel.c"
Dear axel developers:

I used my fuzz-testing tool, connzer, to detect data race in axel. Here is a data race found by connzer. I wish you can help me check whether it is a real race, thanks!!

The following is the race report.

## Race report ##

**Version:** 2.17.6

**Race object:** `axel->conn[idx].lastbyte`

**Thread 1:**

**Access:** `conn->http->lastbyte = conn->lastbyte;`

**Line number:**

[2020-04-30 16:39] ismaell commented on #294
I think it's a false positive; what should be happening there is that when a connection is dropped by a thread (i.e. the thread terminates), the variable is updated to continue the work somewhere else, and a new thread is launched to act upon that, so there should be no access from the second thread until the first thread is done, and that's why there's no lock.

[2020-04-30 17:13] JZuming commented on #294
@ismaell
Thanks for your response.

It may be a little strange. At least, my fuzzer actually finds that conn_setup() and reactivate_connection() run concurrently.

I review the code of axel_do(), and find that axel_do() calls reactivate_connection() firstly and then call pthread_create() to wake setup_thread().

I have a question: Whether it is possible that the setup_thread() called by last axel_

[2020-05-01 13:57] ismaell commented on #294
On 30/Apr/2020 10:13, Zu-Ming Jiang wrote:

Well, I can't claim there's no bugs in the code, but setup_thread is
called only after joining the thread, so the thread should not be
running.

[2020-05-01 14:36] JZuming commented on #294
For example, in **first loop**, axel_do() firstly calls `reactivate_connection()`. When `reactivate_connection()` finishes, axel_do() create thread to run `setup_thread()`, and then return.

In **second loop**, axel_do() calls `reactivate_connection()` again. In the same time, the `setup_thread()` in other thread created in **first loop** is still running. In this case, I think the race can occur.

[2020-05-01 16:16] ismaell commented on #294
On 01/May/2020 07:36, Zu-Ming Jiang wrote:

*Shouldn't* be possible, the idea is that the connection will be
reactivated only when the thread finised; reactivate_connection has a
guard to prevent touching an active cconnection.

[2020-05-02 06:39] rex4539 opened #295 "Compilation warning due to non-literal format string at abuf_printf"
[code]

[2020-05-02 07:24] JZuming commented on #294
Do you means the **guard** is `if (axel->conn[thread].enabled || axel->conn[thread].currentbyte < axel->conn[thread].lastbyte) return;` in `reactivate_connection()`?

Maybe there is a **problem** about the **guard**. After reviewing the code, I find that `setup_thread()` firtly calls `conn_setup(conn)`. After `conn_setup(conn)` finishes, `conn->enabled` is set **true.** So when `conn_setup(conn)`

[2020-05-02 11:51] ismaell commented on #295
Why does it require to be a string literal???

[2020-05-02 13:18] ismaell commented on #294
On 02/May/2020 00:24, Zu-Ming Jiang wrote:

Yes.

Ah, I see now. Yes, we need to take the mutex there. Now I wonder: Would
the fuzzer still complain with the mutex taken?

[2020-05-02 13:53] ismaell commented on #294
And now looking at it again, the lock is correctly taken when reaching this function... I can't find any problem with that specific variable. There is however concurrency bugs in that area, but not with that specific variable.

[2020-05-02 14:35] JZuming commented on #294
I think the variable in race report is the specific race variable.

[2020-05-02 17:51] ismaell commented on #294
Hmmm, seems you're right. It needs to take a lock for all ops.

[2020-05-02 21:07] ismaell commented on #295
Commit 80fe478d0a50c2d2aa2e4f3798d19b0c256d746e adds the missing function attribute, that should in theory prevent the warning from happening as the property should be transitive.

Please close the issue if that's the case.

However I'm changing the title as it's not a true failure, it's just a warning.

[2020-05-03 02:12] JZuming commented on #294
Maybe the impact of this race is not serious. Anyway, I think it is good discussion. Thanks for your response. And I'm sorry for disturbing you.

[2020-05-03 05:37] rex4539 commented on #295
Fixed, thanks.

[2020-05-03 05:37] #295 closed

[2020-05-03 09:37] Saentist opened #296 "Feature: Do not download, when file exist with same size."
Is there a way to make check if file with want to download exist in location for download it.
Also to make check if existing file exist, but is with different size, and if is different to download.

This will be useful when downloading with unstable connection lot of files and restarting batch not continue from when it losing connection, and re-download already finished downloads.

[2020-05-03 19:25] ismaell commented on #294
I think I've covered the missing cases. Can you confirm?

[2020-05-03 21:49] ismaell commented on #285
Not worth the code changes at the moment.

[2020-05-03 21:49] #285 closed

[2020-05-03 22:56] ismaell commented on #296
There is the `-c` option that avoids downloading the file if it already exists and there is no state file; it does however not check if the file is smaller.

[2020-05-03 22:56] #296 closed

[2020-05-04 02:18] JZuming commented on #294
The race is still alive.

I think the problem is that `reactivate_connection()` can access other `axel->conn`, while it doesn't need to acquire their coresponding locks.

 For example, `reactivate_connection()` can access `axel->conn[idx].lastbyte` without acquiring `axel->conn[idx].lock`.

So I think the right way is: before `reactivate_connection()` accesses other `axel->conn`, it should acquire

[2020-05-04 09:08] ismaell commented on #294
Hmm, I seem  to have forgot `thread[idx]`, well, that one lock can be taken inside `reactivate_connection`.

What worries me is that this isn't the real problem, the real problem comes  from the interaction of the writers with the reader of those variables, as their operation needs to be synced between the two download threads, else they will download the same data twice. Other than that the effec

[2020-05-04 11:54] Saentist opened #298 "Build bug: In function ‘save_state’:"
I'm try to build from git source on Ubuntu server 16.04 x64 where in repo there is old version.
All dependencies installed, except if there is undescribed  one.

[code]

Any advice's or solutions accepted.

[2020-05-04 11:59] Saentist commented on #296
So 50% ;)
File size difference is important!

[2020-05-04 12:08] ismaell commented on #298
It's just a warning, when running from the git repo the buildsystem will
automatically add `-Werror`, but you can disable it, check out
`./configure --help`.

[2020-05-04 12:13] ismaell commented on #296
On 04/May/2020 04:59, Saentist wrote:

Well, this only affects the case where you started with one tool and
then switched to Axel... otherwise the files will have a companion state
file.

[2020-05-04 12:24] Saentist commented on #296
when download file with size each day change but name is same
comparing local and remote size in this case is panacea.

[2020-05-04 12:46] Saentist commented on #298
So i do:
./configure --disable-Werror
[code]

Hope this errors is not important for functionality.

---
p.s.
why simple version is not reported when just type **axel**

ex:
[code]

[2020-05-04 13:10] ismaell commented on #298
The SSL errors are expected if you're using OpenSSL 1.x (fixed in LibreSSL); it's an issue with the API, those parameters should be `const`, but it will not cause any problems because these functions shouldn't be modifying the data anyway, even if the parameter type suggests otherwise.

Please open a bug report for the version reporting feature, I guess it would save time.

[2020-05-04 13:10] #298 closed

[2020-05-04 13:19] ismaell commented on #296
On 04/May/2020 05:25, Saentist wrote:

I would accept a patch to support that, sure, but it's not a feature
that I'm looking after. Currently it's not even supported in the case of
incomplete downloads with corresponding state files.

[2020-05-04 13:42] Saentist opened #299 "simple version in basic help"
simple version is not reported when just type **axel**
it need to be used **axel -V** where is reported version and main contributors

ex:
[code]

[2020-05-04 14:00] Saentist commented on #296
You misunderstood me.
Case is  download is complete in first download.

For example in my case is database with is near static until some add new data with increase size (but this can happen in range of 1 day or 2 weeks)
So if I download this file in 23:59 each day, and previous time file is with same size as now, do I need to download twice same file?

[2020-05-04 19:57] ismaell commented on #296
On 04/May/2020 07:00, Saentist wrote:
<...>

Not only it would be tricky to implement (there's some missing pieces on
axel's side), but more importantly, maybe the file is different but has
the same size.  It can't be made safe for non-static files.

If you trust the server, you could put together a script, using some
other tool to make a HEAD request, and compare it's output to the file,
then run

[2020-05-05 02:18] JZuming commented on #294
I think async I/O is a good idea.

[2020-05-10 20:15] #299 closed

[2020-05-10 20:35] ismaell commented on #292
@mlhch you should always use release tarballs for builds instead of the repository if your intention is just to get it compiling, you'll save a lot of time and avoid a lot of problems.

Also, you shouldn't be building as root.

`-Werror` is enabled by default when compiling from the source directory (and disabled in release tarballs), but you can pass `--disable-Werror` to configure to make the bu

[2020-05-10 20:35] #292 closed

[2020-05-10 23:45] ismaell opened #300 "Remove use of LLONG_MAX to signal unknown size."

[2020-05-11 00:14] ismaell opened #301 "Add debugging how-to guide and bug report template"

[2020-05-11 00:24] #274 closed

[2020-05-11 00:55] #290 closed

[2020-05-11 14:09] heyleke opened #303 "connection timeout causes file corruption"
when doing a download with axel 2.17.7, following issue is seen:
* Server unsupported, starting from scratch with one connection.
* connections interruption (here simulated with iptables drop and resume for a long time)
[root@f3e591f57a7c /]# iptables -A OUTPUT -p tcp -j DROP
#until the timed out is hit, then resume:
[root@f3e591f57a7c /]# iptables -F OUTPUT
* below extra whitepace indicates the i

[2020-05-12 10:54] #203 closed

[2020-05-13 11:44] creynaud commented on #233
I had a similar issue, also on macOS, several times with axel version 2.17.7 (darwin18.7.0)
I interrupted, or the download was interrupted because of network issues, 3 big file downloads (15G, 36G, 8G).

After restart, every time, the % got to 100% but got stuck there. Re-launching on my machine (a macbook air macOS 10.14.6 (18G3020)), I got every time a similar output:

But nothing ever really st

[2020-05-13 11:50] ismaell commented on #233
Interesting. Maybe a backtrace of all the threads helps, if this is a simple issue.

[2020-05-13 12:28] creynaud commented on #233
I am not using gdb usually for debug, so not 100% this is what you were asking for:

(gdb) info threads
  Id   Target Id                     Frame
* 1    Thread 0x1703 of process 2380 0x00007fff638a7f2e in ?? () from /usr/lib/system/libsystem_kernel.dylib
(gdb) backtrace
#0  0x00007fff638a7f2e in ?? () from /usr/lib/system/libsystem_kernel.dylib
#1  0x00007fff63833914 in nanosleep () from /usr/lib

[2020-05-13 13:03] ismaell commented on #233
We need a backtrace of all threads. You can do so with:
[code]

[2020-05-13 15:20] creynaud commented on #233
The "info threads" that is above lists only 1 thread. Doesn't this mean that there is only 1 thread?

[2020-05-13 18:08] ismaell commented on #233
You're right, my bad. You'll need a version compiled with debugging info or the debugging info file if it was split; that way you'll get more information on the backtrace. A core dump could come handy (you can generate it with the `gcore` GDB command).

[2020-05-22 01:02] kwhiteaker opened #306 "Error while waiting for connection: Invalid argument"
Hi, when using Axel version 2.17.5 to download a tarball on Ubuntu 20.04, I get the following error:
[code]

And then after failing like this, the return code is zero:
[code]

Edit: wget successfully downloads the same file.

[2020-05-24 11:09] skhopenswan commented on #273
i miss,How to use Axel to download a file with Cookie?
something like `$axel -H xx -H xx URL`
Is there someone Know?

[2020-05-24 11:30] Jason23347 commented on #273
Currently the only way  to download files with cookies using Axel is to add a header using `-H` option. There's a PR #304 just in progress, aimed to provide basic support  for cookies.

[2020-05-29 00:00] cause7ate9 opened #308 "Headers to be responded with for request"
I am very new to axel. Few of our users are using axel to download files over HTTP. We have a service that fetches file-Id from URL and converts that to location and responds with file. We are noticing that while responding to axel requests, even though we respond with the full file, only 2G of file is downloaded with 1 connection.
I am assuming that is because we are not responding with right HTT

[2020-05-29 08:23] Jason23347 commented on #308
Axel send request with `Range: bytes=0-` header to test if partial download is supported by the server.
If 1 of the following 2 conditions is met, Axel recognizes that partial download is supported.
- HTTP status code returned 206.
- Response contains a legal `Content-Range` header.

Therfore, if the response is as shown above, the problem should not be responding with wrong HTTP headers.

Check t

[2020-05-31 17:03] cause7ate9 commented on #308
Thank you for responding. I tried building locally to get Axel run in debug mode. I am seeing this issue when trying to run ./configure

[code]

[2020-06-02 16:26] ismaell commented on #308
On 31/May/2020 10:03, cause7ate9 wrote:

Please use a release tarball instead.

To build from git you need an up to date autoconf-archive package,
txt2man, etc.

[2020-06-02 22:03] DonRichards commented on #274
I'm getting the same error from a fresh install using `$ brew install axel` installs v2.17.8

Axel -k is still giving me the same error.

[2020-06-03 00:48] Jason23347 commented on #274
@DonRichards This was fixed in 80f8a5a, after the 2.17.8 release.

[2020-06-03 18:45] DonRichards commented on #274
@Jason23347 I understand that but.... who ever manages the homebrew installs package should be notified to update their repo so brew will pull the latest update or a version release with a brew package update. I'm not sure how brew packages work.

[2020-06-03 21:09] ismaell commented on #274
I've been quite busy so I couldn't make a release yet. But I'm fixing that right now. Hopefully homebrew will catch it quickly.

[2020-06-03 21:18] ismaell opened #309 "Update downstream packages to 2.17.9"
- [x] [![Alpine Linux Edge package](https://repology.org/badge/version-for-repo/alpine_edge/axel.svg)](https://git.alpinelinux.org/cgit/aports/tree/main/axel/APKBUILD)
- [ ] [![ALT Linux Sisyphus](https://repology.org/badge/version-for-repo/altsisyphus/axel.svg)](http://sisyphus.ru/en/srpm/axel)
- [x] [![Arch Linux](https://repology.org/badge/version-for-repo/arch/axel.svg)](https://git.archlinux.

[2020-06-03 21:19] #284 closed

[2020-06-05 02:47] cmcginty opened #310 "Add option to save download file to hierarchical directory location (wget -x)"
wget has a nice feature to create a hierarchical directory strcuture when downloading files. This makes it much nicer when trying to mirror a large number of paths. It would be nice if this could be supported in axel.

[code]

[2020-06-05 06:52] Jason23347 commented on #108
The windows package manager `winget` v0.1 is released, and v1.0 will be released at May 2021.
It is still meaningful to make a windows build.
My thought is to build against win32 instead of cygwin.
The biggest problem is the differences of `socket` and `pthread` between windows and linux, this may require changes on codes.
And there's another problem that how to use GNU autotools in windows.
Autot

[2020-06-05 07:13] Restia666Ashdoll commented on #108
WSL2 in future will let you create win32 exe files of linux apps running on wsl2.

[2020-06-05 08:44] Jason23347 commented on #108
@Restia666Ashdoll Could you please provided a link with further information about this feature? I'd like to know
- how long it will take to add this feature,
- whether WSL2 is needed to excute the win32 exe file.

[2020-06-05 21:37] ismaell commented on #108
MINGW should work fine in principle for the most part.

[2020-06-08 03:22] Jason23347 commented on #108
https://drive.google.com/file/d/1CMEg7KP4u1CsO12JzakKIW-odZ1PbnkQ/view?usp=sharing

It seems MSVC works fine for the most part too, and socket part also needs to be refactored (using WinSock2) even with MINGW. So I've made a [win32 build](https://drive.google.com/file/d/1CMEg7KP4u1CsO12JzakKIW-odZ1PbnkQ/view?usp=sharing) of Axel using MSVC tools with `pthread-win32` and `openssl` statically linked

[2020-06-08 11:55] ismaell commented on #108
@Jason23347 windows-specific code other than a compatibility layer isn't an option.

[2020-06-08 12:23] Jason23347 commented on #108
MINGW didn't implement socket. There should be a way to abstract socket functions to compat different OS, but it is much easier to build against cygwin. For example, SOCKET struct type and returning code of functions are both different. Should I continue to do the absraction or just give up this approch?

[2020-06-08 12:44] ismaell commented on #108
Depends, if it integrates with the configure script and only requires files in `lib/`, it's fine, otherwise abort the mission.

[2020-06-08 12:46] ismaell commented on #108
I'm 100% sure you can abstract away all the differences because that's exactly what cygwin does, however, it may be non-trivial

[2020-06-08 12:49] ismaell commented on #108
w.r.t. `gethostbyname` it should be replaced by `getaddrinfo` for all platforms.

[2020-06-08 13:25] Jason23347 commented on #108
Unfortunately the error handling of windows socket is quite different. WSAGetLasetError() is used instead of errno to hanle errors, so it may not be good enough and simple enough to make a windows build in this way. This problem cannot be solved only by adding files to `lib/`, so it seems not to be a good idea to make a wnidows build using MSVC or MINGW. I hope for the new features of WSL2, or we

[2020-06-08 13:26] Jason23347 commented on #108
P.S.
Isn't the configure script only work with bash? I've no idea about how to build projects in windows with autotools...

[2020-06-08 22:44] ismaell commented on #108
1. A wrapper can setup `errno` from `WSAGetLastError`, no problem there.
1. WSL1 will never be a solution as a target as it's Linux ABI "personality" over NT.
1. WSL2 is a VM, so even more non usable.
1. Axel is portable enough, I think, to compile w/o cygwin.
1. If anything, any changes must target cross-building from POSIX systems first.
1. I may consider MINGW or similar, as I could test that o

[2020-06-14 17:55] eribertomota opened #311 "Axel 2.17.9: FTBFS in Debian Sid"
Hi @ismaell,

Axel 2.17.9 Fail to Build From Source in my machine with Debian Sid with GCC-9/10:

[code]

Regards,

Eriberto

[2020-06-14 18:23] eribertomota opened #312 "Is bugged -k option?"
Hi @ismaell,

On my machine, the following command works fine:

axel https://people.debian.org/~eriberto/tests-axel/test.img

However, the following command fails:

axel -k https://people.debian.org/~eriberto/tests-axel/test.img
Initializing download: https://people.debian.org/~eriberto/tests-axel/test.img
SSL error: Certificate error

I think axel should ignore the certificate in last case. Am I

[2020-06-16 13:41] ismaell commented on #312
Fixed in commit 80f8a5a030792a65b846cff6b62f6aebb1da6f2f.

[2020-06-16 14:15] ismaell commented on #311
@eribertomota are you building from the tarballs or from the repo?

[2020-06-16 17:26] eribertomota commented on #312
Dear @ismaell,

You closed the issue suddenly without interact with me. Please, be polite and respectful.

I am using Debian Sid and Axel 2.17.9. Maybe I  am doing something wrong but I need to know. Can you, please, test my commands and explain the problem or say me "I can't reproduce the error"?

Eriberto

[2020-06-16 17:34] eribertomota commented on #311
The Debian package gets the new version via uscan command. The rule is here[1].

[1] https://sources.debian.org/src/axel/2.17.8-1/debian/watch/

So, when I run uscan-check, I get:

[code]

Consequently I am using a tarball from "download" section in project.

Eriberto

Eriberto

[2020-06-16 20:14] ismaell commented on #312
[code]

[2020-06-16 20:17] ismaell commented on #312
There's something really odd, because the bug existed *before* 2.17.9.

[2020-06-16 20:28] ismaell commented on #311
I ask because `-Werror` is only added by default when building from the repo. Is somehow a git repo being created out of the tarball by the build process? if so you have no option but to add `--disable-Werror` to the configure script flags.

[2020-06-16 21:15] eribertomota commented on #311
Yes, since 2016 Debian build system always run autoconfigure -fi (via dh_reconfigure).

I added --disable-Werror to dh_auto_configure and Axel builds fine now. I suggest put it in README.md.

Feel free to close this issue.

Eriberto

[2020-06-16 21:26] eribertomota commented on #312
Ok, I was testing in 2.17.8, not 2.17.9, because the last version wasn't building. A mistake mine. However, is not acceptable close the door in my face. Please, be patient in next time. I am trying to make the best for Axel in Debian and -k option was impacting in CI tests. I am not a newbie but I have doubts sometimes.

Regards,

Eriberto

[2020-06-16 21:26] #312 closed

[2020-06-17 19:14] #311 closed

[2020-06-29 19:35] damdev commented on #274
Axel version 2.17.6 has this bug too.

[2020-07-03 02:26] maronz commented on #278
I had the same request, so I've tried to solve it for myself with this [patch](https://github.com/axel-download-accelerator/axel/files/4867431/adjust-mtime_2179.patch.gz)

[2020-07-07 10:41] shyvalley opened #314 "axel can't download this ftp iso, but wget can."
axel can't download this ftp iso, but wget can.

$ axel -a -n 4 ftp://ftp.netbsd.org/pub/NetBSD/iso/9.0/NetBSD-9.0-amd64.iso
Initializing download: ftp://ftp.netbsd.org/pub/NetBSD/iso/9.0/NetBSD-9.0-amd64.iso
File size: 4294936012 bytes
Opening output file NetBSD-9.0-amd64.iso
State file found: 0 bytes downloaded, 4294936012 to go.
Error opening passive data connection.
Starting download

Error op

[2020-07-09 07:07] Mahtabctg commented on #274
Same issue on Axel version 2.17.8:

/media/datapartition # axel -k -n 8 https://download3.vmware.com/software/fusion/file/VMware-Fusion-11.5.3-15870345.dmg
Initializing download: https://download3.vmware.com/software/fusion/file/VMware-Fusion-11.5.3-15870345.dmg
SSL error: Certificate error

/media/datapartition # axel -V
Axel version 2.17.8 (linux-gnu)

Copyright 2001-2007 Wilmer van der Gaast,

[2020-07-09 07:54] ismaell commented on #274
@damdev @Mahtabctg This bug was fixed in 2.17.9.

[2020-07-15 09:16] wtywtykk commented on #306
I encountered this problem with WSL Ubuntu 20.04 on Windows 10 2004. The default WSL version is WSL 1, and it doesn't support the nanosleep call. https://github.com/microsoft/WSL/issues/4898 .

Updating to WSL 2 will solve this problem.
https://docs.microsoft.com/en-us/windows/wsl/install-win10#update-to-wsl-2

Or alternately, use Ubuntu 18.04. It doesn't have such problem.

[2020-07-15 12:55] ismaell commented on #306
@kwhiteaker are you using WSL?

[2020-07-21 14:13] ismaell commented on #306
Seems to be an issue with WSL1 only, which I can't support anyway, so I'm closing it.

[2020-07-21 14:13] #306 closed

[2020-07-31 19:43] draeath opened #317 "invalid build instructions"
The README.md refers to ./configure which is absent, and INSTALL is a default file that also makes this same assumption. There is no autogen script, but there is a `configure.ac`

In my case, autoconf throws errors when used:
[code]

While it creates a ./configure script, this is unusable:
[code]

Please consider updating the build instructions.

This occurs in both tags/v2.17.9 and HEAD (2361f227

[2020-07-31 19:49] draeath commented on #317
OK, maybe rearrange so `autoreconf -i` is harder to miss :)

[2020-07-31 19:49] #317 closed

[2020-08-14 12:22] a3m7e7 commented on #260
You think we sould use an flag for stall detection?
and however, assume we detected. what is the action? only a warning is enough. or we can exit with non-zero code?

[2020-08-14 15:17] NickSun commented on #260
I think it will be better to exit with non-zero code